<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    
    <title>Dogtag Certificate System</title>

    <link rel="shortcut icon" href="/pki/images/favicon.ico" />
    <link rel="stylesheet" href="/pki/css/pki-base.css" type="text/css" />
  </head>

<SCRIPT LANGUAGE="JavaScript">
    function checkClose() {
      if ('$status' == "update" && '$error' == '') {
            window.close();
      }
    }
</SCRIPT>
                                                                                
                                                                                
  <body onLoad="checkClose();">
<div id="wrap">
  
#include ( "admin/console/config/header.vm" )

<div id="mainNavOuter">
<div id="mainNav">
                                                                                
<div id="mainNavInner">
                                                                                
</div><!-- end mainNavInner -->
</div><!-- end mainNav -->
</div><!-- end mainNavOuter -->

<!-- close bar -->

  <div id="content">
    <table width="100%" cellspacing="0">
      <tr>
        <td width="100%">
  <h1><img src="/pki/images/icon-software.gif" />
  Join the PKI Network </h1>

To join this PKI network, the setup wizard needs to submit the certificate request to a Root or another subordinate CA for signing.
    <p>
    <form action="config_join" method="post" name="f">
                                                                                
<input type=radio $check_manual name="choice" value="manual">Manually submit this request to a CA.
<p>
<table width=100%>
<tr>
  <td width=50%>Certificate Request to a CA:</td>
  <td>Certificate Chain From a CA:</td>
  </td>
</tr>
<tr>
  <td>
<textarea rows=8 cols=40 name="req">$certreq</textarea>
  </td>
  <td>
<textarea rows=8 cols=40 name="cert">$cert</textarea>
  </td>
</tr>
</table>
<p>
<input type=radio $check_auto name="choice" value="auto">Automatically submit the request to a Dogtag Certificate Authority
<br>
    <table class="details">
      <tr>
        <th width=10%>URL:</th>
        <td><input type="text" length="128" size="40" name="url" value="https://localhost" /></td>
      </tr>
                                                                                
      <tr>
        <th>UID:</th>
        <td><input type="text" length="64" size="40" name="uid" value="agent" /></td>
      </tr>       
      <tr>
        <th>Password:</th>
        <td><input type="password" length="64" size="40" name="__pwd" value="" autocomplete="off" /></td>
      </tr>       
    </table>
<p>
                                                                                
    <div align="right">
      <hr />
    </div>
                                                                                
    </form>

<p>
<table width=100%>
<tr bgcolor="#eeeeee">
  <td>
<input onclick="javascript: document.f.submit();" type=button name=next value="Apply">                                                                                
  </td>
</tr>
</table>
	</td>
      </tr>
    </table>

  </div> <!-- close content -->
  </div> <!-- close wrap -->

  </body>
</html>
