// --- BEGIN COPYRIGHT BLOCK ---
// Copyright (C) 2012 Red Hat, Inc.
// All rights reserved.
// --- END COPYRIGHT BLOCK ---

// ============================================================================
// pki.policy - Default Security Policy Permissions for PKI on Tomcat
//
// This file contains a default set of security policies for PKI running inside
// Tomcat.
// ============================================================================

// According to /etc/tomcat/catalina.policy:
// This permission is required when using javac to compile JSPs on Java 9
// onwards
grant codeBase "jrt:/jdk.compiler" {
        permission java.security.AllPermission;
};

grant codeBase "file:${catalina.home}/bin/tomcat-juli.jar" {

        // Allow Tomcat JULI to read shared PKI files including logging.properties.
        permission java.io.FilePermission "/usr/share/pki/-", "read";

        // Allow Tomcat JULI to generate subsystem log files.
        permission java.io.FilePermission "${catalina.base}/logs/-", "read,write";
};

// If log rotate is initiated by a log call using slf4j-impl
// the library need to have read/write access to log folder or
// the policy will denied access and the rotation fails
grant codeBase "file:/usr/share/java/slf4j/-" {
        permission java.io.FilePermission "${catalina.base}/logs/-", "read,write";
};

// According to /etc/tomcat/catalina.policy:
// If using a per instance lib directory, i.e. ${catalina.base}/lib,
// then the following permission will need to be uncommented
grant codeBase "file:${catalina.base}/lib/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:/usr/share/java/tomcat-el-api.jar" {
        permission java.security.AllPermission;
};

// required for Fedora
grant codeBase "file:/usr/share/java/tomcat-servlet-api.jar" {
        permission java.security.AllPermission;
};

grant codeBase "file:/usr/share/java/pki/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${catalina.base}/webapps/-" {
        permission java.security.AllPermission;
};

