sudo: required
language: python

services:
  - docker
cache: pip

env:
  - IMAGE=fedora:30 TASK="PKI"
  - IMAGE=fedora:30 TASK="IPA"
  - IMAGE=fedora:31 TASK="PKI"

before_install:
  - set -a && source travis/global_variables
  - touch ${LOGS}

install:
  # Setup the required build environment
  - travis/builder-init.sh

  # Initialize PKI build env
  - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-init.sh

  # Trigger build process
  - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh

  # If IPA, first initialize IPA env, then install new PKI RPMS
  - if [ $TASK = "IPA" ]; then docker exec -i ${CONTAINER} ${SCRIPTDIR}/ipa-init.sh; fi

  # Install recently build Dogtag RPMS
  - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-install.sh
  
script:
  - >
    if [ $TASK = "IPA" ]; then
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ipa-test.sh
    else
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-create.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-remove.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-remove.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-remove.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-remove.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-remove.sh
      docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-remove.sh
    fi

matrix:
  fast_finish: true
  include:
    - stage: rawhide
      env: IMAGE=fedora:rawhide TASK="PKI"
    - env: IMAGE=fedora:rawhide TASK="IPA"
    # NOTE: Fedora 31 canoot run IPA test suite
    # due to upstream issue: https://pagure.io/freeipa/issue/7989
    - env: IMAGE=fedora:31 TASK="IPA"
    # This is a dummy job to mark the build as finished, without waiting for rawhide jobs
    - env: DUMMY_JOB=FOR_FAST_FINISH
      before_install: true
      install: true
      script: true
      after_script: true
  allow_failures:
    - stage: rawhide
      env: IMAGE=fedora:rawhide TASK="PKI"
    - env: IMAGE=fedora:rawhide TASK="IPA"
    - env: IMAGE=fedora:31 TASK="IPA"

after_script:
  - cat ${LOGS}
  - docker kill ${CONTAINER}
  - docker rm ${CONTAINER}
