sudo: required
language: python

services:
  - docker
cache: pip

jobs:
  include:

    # F27 Image
    - env: 
        - TASK_TO_RUN="pki-test"
        - BASE_IMAGE=${IMAGE_REPO:-dogtagpki/pki-ci}:f27_106_46
      before_install:
        - set -a && source .travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
        # Post the Travis Build URL
        - TRAVIS_BUILD_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/builds/$TRAVIS_BUILD_ID"
        - MESSAGE="$(printf "Build Started.\nTravis Build:"${TRAVIS_BUILD_URL})"
        - .travis/set_gerrit_message.sh -m "${MESSAGE}"
      install: .travis/init_task.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      script:
        - set -o pipefail
        - travis_wait 20 .travis/pki-test.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 1 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${TRANSFER_SH_URLS})"
        - .travis/set_gerrit_message.sh -v -1 -m "${MESSAGE}"
      after_script:
        - cat ${TRANSFER_SH_URLS}
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    - env: 
        - TASK_TO_RUN="ipa-test"
        - BASE_IMAGE=${IMAGE_REPO:-dogtagpki/pki-ci}:f27_106_46
      before_install:
        - set -a && source .travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      install: .travis/init_task.sh
      script: travis_wait 20 .travis/ipa-test.sh
      after_failure:
        - docker exec ${CONTAINER} journalctl  -l > ${SYSTEMD_LOG}
        - echo "Uploading CI Logs to transfer.sh ..."
        - curl -w "\n" --upload-file ./${SYSTEMD_LOG} https://transfer.sh/systemd_logs.txt > ${TRANSFER_SH_URLS}
        - curl -w "\n" --upload-file ./${CI_RESULTS_LOG} https://transfer.sh/freeipa-integration.txt >> ${TRANSFER_SH_URLS}
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 2 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${TRANSFER_SH_URLS})"
        - .travis/set_gerrit_message.sh -v -1 -m "${MESSAGE}"
        - cat ${TRANSFER_SH_URLS}
      after_script:
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    # F28 image
    - env:
        - TASK_TO_RUN="pki-test"
        - BASE_IMAGE=${IMAGE_REPO:-dogtagpki/pki-ci}:f28_106_46
      before_install:
        - set -a && source .travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      install: .travis/init_task.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      script:
        - set -o pipefail
        - travis_wait 20 .travis/run_task.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 3 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${TRANSFER_SH_URLS})"
        - .travis/set_gerrit_message.sh -v -1 -m "${MESSAGE}"
      after_script:
        - cat ${TRANSFER_SH_URLS}
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    - stage: Verification Label
      before_install: echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      script:
        - MESSAGE="$(printf "Travis Build Successful.")"
        - .travis/set_gerrit_message.sh -v +1 -m "${MESSAGE}"
