sudo: required
language: python

services:
  - docker
cache: pip

jobs:
  include:

    # F27 Image
    - env:
        - TASK=pki-test
        - IMAGE=f27_106_46
      before_install:
        - set -a && source travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
        - touch ${LOGS}
        # Post the Travis Build URL
        - TRAVIS_BUILD_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/builds/$TRAVIS_BUILD_ID"
        - MESSAGE="$(printf "Build Started.\nTravis Build:"${TRAVIS_BUILD_URL})"
        - travis/send-result.sh -m "${MESSAGE}"
      install:
        - travis/builder-init.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh pki-core compose_pki_core_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh dogtag-pki-theme compose_dogtag_pki_theme_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh pki-console compose_pki_console_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh dogtag-pki compose_dogtag_pki_meta_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-install.sh
      script:
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-remove.sh
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 1 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${LOGS})"
        - travis/send-result.sh -v -1 -m "${MESSAGE}"
      after_script:
        - cat ${LOGS}
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    - env:
        - TASK=ipa-test
        - IMAGE=f27_106_46
      before_install:
        - set -a && source travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
        - touch ${LOGS}
      install:
        - travis/builder-init.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh pki-core compose_pki_core_packages
        - travis/ipa-init.sh
      script:
        - travis_wait 20 travis/ipa-test.sh
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 2 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${LOGS})"
        - travis/send-result.sh -v -1 -m "${MESSAGE}"
      after_script:
        - cat ${LOGS}
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    # F28 image
    - env:
        - TASK=pki-test
        - IMAGE=f28_106_46
      before_install:
        - set -a && source travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
        - touch ${LOGS}
      install:
        - travis/builder-init.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh pki-core compose_pki_core_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh dogtag-pki-theme compose_dogtag_pki_theme_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh pki-console compose_pki_console_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-build.sh dogtag-pki compose_dogtag_pki_meta_packages
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/pki-install.sh
      script:
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-create.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tps-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/tks-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ocsp-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/kra-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ca-remove.sh
        - docker exec -i ${CONTAINER} ${SCRIPTDIR}/ds-remove.sh
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 3 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${LOGS})"
        - travis/send-result.sh -v -1 -m "${MESSAGE}"
      after_script:
        - cat ${LOGS}
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    - stage: Verification Label
      before_install: echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      script:
        - MESSAGE="$(printf "Travis Build Successful.")"
        - travis/send-result.sh -v +1 -m "${MESSAGE}"
