sudo: required
language: python

services:
  - docker
cache: pip

jobs:
  include:
    - env: TASK_TO_RUN="pki-test"
      before_install:
        - set -a && source .travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
        # Post the Travis Build URL
        - TRAVIS_BUILD_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/builds/$TRAVIS_BUILD_ID"
        - MESSAGE="$(printf "Build Started.\nTravis Build:"${TRAVIS_BUILD_URL})"
        - .travis/set_gerrit_message.sh -m "${MESSAGE}"
      install: .travis/init_task.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      script:
        - set -o pipefail 
        - travis_wait 20 .travis/run_task.sh | tee /dev/tty | grep -Eo '(http|https)://transfer.sh/[a-zA-Z0-9./?=_-]*.txt' | uniq >> ${TRANSFER_SH_URLS}
      after_failure:
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 1 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${TRANSFER_SH_URLS})"
        - .travis/set_gerrit_message.sh -v -1 -m "${MESSAGE}"
        - cat ${TRANSFER_SH_URLS}
      after_script:
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}

    - env: TASK_TO_RUN="ipa-test"
      before_install:
        - set -a && source .travis/global_variables
        - echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      install: .travis/init_task.sh
      script: travis_wait 20 .travis/run_task.sh
      after_script:
        - docker kill ${CONTAINER}
        - docker rm ${CONTAINER}
      after_failure:
        - docker exec ${CONTAINER} journalctl  -l > ${PKI_LOG}
        - echo "Uploading CI Logs to transfer.sh ..."
        - curl --upload-file ./${PKI_LOG} https://transfer.sh/dogtag_build_logs.txt >> ${TRANSFER_SH_URLS}
        - curl --upload-file ./${CI_RESULTS_LOG} https://transfer.sh/freeipa-integration.txt >> ${TRANSFER_SH_URLS}
        # Post the URL of Travis Job that failed
        - TRAVIS_JOB_URL="https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID"
        - MESSAGE="$(printf "Job 2 Failed\nTravis Job:"${TRAVIS_JOB_URL}"\n\nLogs:\n" )"$'\n'"$(cat ${TRANSFER_SH_URLS})"
        - .travis/set_gerrit_message.sh -v -1 -m "${MESSAGE}"
        - cat ${TRANSFER_SH_URLS}

    - stage: Verification Label
      before_install: echo -e $gerrit_ssh_key >> ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
      script:
        - MESSAGE="$(printf "Travis Build Successful.")"
        - .travis/set_gerrit_message.sh -v +1 -m "${MESSAGE}"
      after_script:
        # Add remote repo in SSH form. Using existing 'origin' will result in user/pass authentication
        - git remote add bot git@github.com:${TRAVIS_REPO_SLUG}.git
        - git push -d bot ${TRAVIS_BRANCH}
