jobs:
- job: BuildTest
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PythonScript@0
    displayName: Set environment variables
    env:
      REPOSITORY_URI: $(Build.Repository.Uri)
    inputs:
      scriptSource: inline
      script: |
        import os
        import re

        value = os.getenv('BASE_IMAGE', 'registry.fedoraproject.org/fedora:latest')
        print('BASE_IMAGE: {value}'.format(value=value))
        print('##vso[task.setvariable variable=BASE_IMAGE]{value}'.format(value=value))

        value = os.getenv('REGISTRY_NAMESPACE', 'dogtagpki')
        print('REGISTRY_NAMESPACE: {value}'.format(value=value))
        print('##vso[task.setvariable variable=NAMESPACE]{value}'.format(value=value))

        value = os.getenv('COPR_REPO', '@pki/11.8')
        print('COPR_REPO: {value}'.format(value=value))
        print('##vso[task.setvariable variable=COPR_REPO]{value}'.format(value=value))

  - script: |
      # replace registry namespace
      sed -i "s/quay.io\/dogtagpki\//quay.io\/$NAMESPACE\//g" Dockerfile
    displayName: Update Dockerfile

  - script: |
      docker build \
          --build-arg BASE_IMAGE=$BASE_IMAGE \
          --build-arg COPR_REPO=$COPR_REPO \
          --target pki-base \
          --tag pki-base \
          .

      docker run \
          --name=runner \
          -v $BUILD_SOURCESDIRECTORY:/root/src \
          --privileged \
          --detach \
          pki-base

      while :
      do
          docker exec runner echo "Runner is ready" && break

          echo "Waiting for runner..."
          sleep 1
          [ $((++i)) -ge 10 ] && exit 1
      done
    displayName: Create runner container

  - script: |
      docker exec runner dnf install -y dnf-plugins-core rpm-build
      if [ -n "$COPR_REPO" ]; then docker exec runner dnf copr enable -y $COPR_REPO; fi

      docker create --name=jss-dist quay.io/$NAMESPACE/jss-dist:5.8
      docker cp jss-dist:/root/RPMS/. /tmp/RPMS
      docker rm -f jss-dist

      docker create --name=ldapjdk-dist quay.io/$NAMESPACE/ldapjdk-dist:latest
      docker cp ldapjdk-dist:/root/RPMS/. /tmp/RPMS
      docker rm -f ldapjdk-dist

      docker exec runner mkdir -p RPMS
      docker cp /tmp/RPMS/. runner:RPMS
      docker exec runner bash -c "dnf install -y RPMS/*"

      docker exec runner dnf builddep -y /root/src/pki.spec
    displayName: Install PKI dependencies

  - script: |
      docker exec runner \
          /root/src/build.sh -v --with-console rpm
    displayName: Build PKI RPM packages

  - script: |
      # find RPM packages (excluding debug packages)
      docker exec runner \
          ls /root/build/pki/RPMS | grep -v debuginfo | grep -v debugsource | tee output
      RPMS=$(cat output)

      # get list of files in each RPM package
      for rpm in $RPMS
      do
          docker exec runner \
              rpm -qlp "/root/build/pki/RPMS/$rpm" | tee -a file_list
      done

      # exclude Maven-specific and RPM-specific files
      # from comparison with CMake files
      sed -i \
          -e '/^\/usr\/share\/maven-metadata\//d' \
          -e '/^\/usr\/share\/maven-poms\//d' \
          -e '/^\/usr\/share\/licenses\//d' \
          -e '/^\/usr\/share\/man\//d' \
          -e '/^\/usr\/share\/doc\//d' \
          -e '/^\/usr\/lib\/.build-id\//d' \
          -e '/__pycache__/d' \
          file_list

      # exclude bundled libraries which are only available in RPM
      sed -i \
          -e '/^\/usr\/share\/pki\/lib\/jakarta\.activation-api.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jakarta\.annotation-api.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jakarta\.xml\.bind-api-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-annotations-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-core-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-databind-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-jaxrs-base-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-jaxrs-json-provider-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jackson-module-jaxb-annotations-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jboss-jaxrs-api_2.0_spec-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/jboss-logging-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/resteasy-jaxrs-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/resteasy-client-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/lib\/resteasy-jackson2-provider-.*\.jar/d' \
          -e '/^\/usr\/share\/pki\/server\/common\/lib\/resteasy-servlet-initializer-.*\.jar/d' \
          file_list

      # exclude user managemant files only available in RPM
      sed -i \
          -e '/^\/usr\/lib\/sysusers\.d\/dogtag-pki\.conf/d' \
          file_list
    displayName: Get list of files from RPM packages

  - script: |
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jakarta-annotations/jakarta.annotation-api.jar \
          /usr/share/java/jakarta-annotations/jakarta.annotation-api.jar

      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jboss-jaxrs-2.0-api.jar \
          /usr/share/java/jboss-jaxrs-2.0-api.jar

      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jackson-annotations.jar \
          /usr/share/java/jackson-annotations.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jackson-core.jar \
          /usr/share/java/jackson-core.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jackson-databind.jar \
          /usr/share/java/jackson-databind.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/jackson-modules/jackson-module-jaxb-annotations.jar \
          /usr/share/java/jackson-modules/jackson-module-jaxb-annotations.jar

      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/resteasy/resteasy-servlet-initializer.jar \
          /usr/share/java/resteasy/resteasy-servlet-initializer.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/resteasy/resteasy-jaxrs.jar \
          /usr/share/java/resteasy/resteasy-jaxrs.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/resteasy/resteasy-jackson2-provider.jar \
          /usr/share/java/resteasy/resteasy-jackson2-provider.jar
      docker exec runner javax2jakarta -profile=EE \
          /usr/share/java/resteasy/resteasy-client.jar \
          /usr/share/java/resteasy/resteasy-client.jar
    displayName: Migrate JAR files

  - script: |
      # get Python <major>.<minor> version
      docker exec runner python3 --version | tee output
      PYTHON_VERSION=$(sed 's/Python \([0-9]\+\.[0-9]\+\)\..*/\1/' output)

      docker exec runner \
          /root/src/build.sh \
          --work-dir=/root/build \
          --python-dir=/usr/lib/python$PYTHON_VERSION/site-packages \
          --with-console \
          dist
    displayName: Build PKI with CMake

  - script: |
      docker exec runner mvn \
          --batch-mode \
          -f /root/src \
          -DskipTests \
          package
    displayName: Build PKI with Maven

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-common.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-common.cmake
      docker exec runner \
          jar tvf /root/src/base/common/target/pki-common.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-common.maven
      diff pki-common.cmake pki-common.maven
    displayName: Compare pki-common.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-tools.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-tools.cmake
      docker exec runner \
          jar tvf /root/src/base/tools/target/pki-tools.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-tools.maven
      diff pki-tools.cmake pki-tools.maven
    displayName: Compare pki-tools.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-tomcat.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-tomcat.cmake
      docker exec runner \
          jar tvf /root/src/base/tomcat/target/pki-tomcat.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-tomcat.maven
      diff pki-tomcat.cmake pki-tomcat.maven
    displayName: Compare pki-tomcat.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-tomcat-9.0.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-tomcat-9.0.cmake
      docker exec runner \
          jar tvf /root/src/base/tomcat-9.0/target/pki-tomcat-9.0.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-tomcat-9.0.maven
      diff pki-tomcat-9.0.cmake pki-tomcat-9.0.maven
    displayName: Compare pki-tomcat-9.0.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-server.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-server.cmake
      docker exec runner \
          jar tvf /root/src/base/server/target/pki-server.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-server.maven
      diff pki-server.cmake pki-server.maven
    displayName: Compare pki-server.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-server-webapp.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-server-webapp.cmake
      docker exec runner \
          jar tvf /root/src/base/server-webapp/target/pki-server-webapp.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-server-webapp.maven
      diff pki-server-webapp.cmake pki-server-webapp.maven
    displayName: Compare pki-server-webapp.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-ca.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-ca.cmake
      docker exec runner \
          jar tvf /root/src/base/ca/target/pki-ca.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-ca.maven
      diff pki-ca.cmake pki-ca.maven
    displayName: Compare pki-ca.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-kra.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-kra.cmake
      docker exec runner \
          jar tvf /root/src/base/kra/target/pki-kra.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-kra.maven
      diff pki-kra.cmake pki-kra.maven
    displayName: Compare pki-kra.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-ocsp.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-ocsp.cmake
      docker exec runner \
          jar tvf /root/src/base/ocsp/target/pki-ocsp.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-ocsp.maven
      diff pki-ocsp.cmake pki-ocsp.maven
    displayName: Compare pki-ocsp.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-tks.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-tks.cmake
      docker exec runner \
          jar tvf /root/src/base/tks/target/pki-tks.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-tks.maven
      diff pki-tks.cmake pki-tks.maven
    displayName: Compare pki-tks.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-tps.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-tps.cmake
      docker exec runner \
          jar tvf /root/src/base/tps/target/pki-tps.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-tps.maven
      diff pki-tps.cmake pki-tps.maven
    displayName: Compare pki-tps.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-acme.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-acme.cmake
      docker exec runner \
          jar tvf /root/src/base/acme/target/pki-acme.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-acme.maven
      diff pki-acme.cmake pki-acme.maven
    displayName: Compare pki-acme.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-est.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-est.cmake
      docker exec runner \
          jar tvf /root/src/base/est/target/pki-est.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-est.maven
      diff pki-est.cmake pki-est.maven
    displayName: Compare pki-est.jar

  - script: |
      docker exec runner \
          jar tvf /root/build/dist/pki-console.jar | awk '{print $8;}' | grep -v '/$' | sort | tee pki-console.cmake
      docker exec runner \
          jar tvf /root/src/base/console/target/pki-console.jar | awk '{print $8;}' | grep -v -E '^META-INF/maven/|/$' | sort | tee pki-console.maven
      diff pki-console.cmake pki-console.maven
    displayName: Compare pki-console.jar

  - script: |
      docker exec runner \
          /root/src/build.sh \
          --work-dir=/root/build \
          install
    displayName: Install PKI with CMake

  - script: |
      readarray -t files < file_list
      docker exec runner ls -ld "${files[@]}"
    displayName: Compare CMake and RPM files

  - script: |
      # generate CSR
      docker exec runner \
          pki nss-cert-request \
          --key-type RSA \
          --subject "CN=Certificate Authority" \
          --ext /usr/share/pki/server/certs/ca_signing.conf \
          --csr ca_signing.csr

      # issue self-signed cert
      docker exec runner \
          pki nss-cert-issue \
          --csr ca_signing.csr \
          --ext /usr/share/pki/server/certs/ca_signing.conf \
          --cert ca_signing.crt

      # import cert
      docker exec runner \
          pki nss-cert-import \
          --cert ca_signing.crt \
          --trust CT,C,C \
          ca_signing

      # display cert
      docker exec runner \
          pki nss-cert-show ca_signing
    displayName: Test PKI CLI

  - script: |
      docker exec runner dnf install -y tomcat
      docker exec runner pki-server create tomcat@pki
      docker exec runner pki-server start tomcat@pki --wait
      docker exec runner pki-server status tomcat@pki
      docker exec runner pki-server stop tomcat@pki --wait
      docker exec runner pki-server remove tomcat@pki
    displayName: Test PKI Server CLI
