[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group pki-approvers
	owner = group user/mharmsen99
[access "refs/for/refs/*"]
	read = group user/mharmsen99
	push = group user/mharmsen99
	label-Code-Review = -2..+2 group user/mharmsen99
	label-Verified = -1..+1 group user/mharmsen99
	rebase = group user/mharmsen99
	removeReviewer = group user/mharmsen99
	submit = group pki-approvers
	submit = group user/mharmsen99
[access "refs/heads/*"]
	read = group user/mharmsen99
	create = group user/mharmsen99
	push = +force group user/mharmsen99
	pushMerge = group pki-approvers
	pushMerge = group user/mharmsen99
[access "refs/tags/*"]
	push = group pki-approvers
	push = group user/mharmsen99
	push = +force group user/mharmsen99
[label "Workflow"]
	function = MaxWithBlock
	value = -1 Work in Progress
	value =  0 Ready for Reviews
	value = +1 Ready to Merge
	defaultValue = 0
