<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD><TITLE> Update Certificate Revocation List </TITLE>
<CMS_TEMPLATE>
</HEAD>
<BODY bgcolor="white">
<font size="+1" face="PrimaSans BT, Verdana, Arial, Helvetica, sans-serif">
Update Certificate Revocation List Result 
</font>

<table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" BACKGROUND="/pki/images/hr.gif" >
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

<font size="-1" face="PrimaSans BT, Verdana, Arial, Helvetica, sans-serif">
<SCRIPT LANGUAUGE="JavaScript">
if (result.header.crlPublished == 'Success') {
    document.write('The Certificate Revocation List has been updated and published successfully');
//    if (result.header.time != null) {
//        var sec = result.header.time / 1000;
//        document.write(' in '+sec+' seconds');
//    }
    document.writeln('.');
} else if (result.header.crlPublished == 'Failure') {
    document.writeln('The Certificate Revocation List has been updated successfully.<br>');
    document.writeln('The Certificate Revocation List has not been published successfully.<br>');
    if (result.header.error != null) {
        document.writeln('<br>&nbsp;&nbsp;&nbsp;&nbsp;Additional information:<br>');
        document.writeln('<blockquote><b><pre>'+result.header.error+'</pre></b></blockquote>');
    }
} else if (result.header.crlUpdate == 'Success') {
    document.writeln('The Certificate Revocation List has been updated successfully.');
    if (result.recordSet.length > 0) {i
        var fontStr = '<font size=-1 face="PrimaSans BT, Verdana, sans-serif">';
        document.writeln('<br>&nbsp;<br>&nbsp;<br>The Certificate Revocation List test statistics:<br>&nbsp;<br>');
        document.writeln('<table border="0" cellspacing="2" cellpadding="2" width="100%">');
        document.writeln('<td align="right" bgcolor="#eeeeee">&nbsp;</td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'CRL Numbers</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'CRL Sizes</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'Total Time</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'Cache</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'CRL</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'Full</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'Delta</font></td>');
        var cols = 0;
        if (result.recordSet[0].crlSplits != null && result.recordSet[0].crlSplits.length > 0) {
            cols = result.recordSet[0].crlSplits.split(',').length;
        }
        if (cols > 0) {
            document.writeln('<td bgcolor="#eeeeee" colspan="'+cols+'">'+fontStr+'&nbsp;&nbsp;CRL Generation Split Times</font></td>');
            //document.writeln('<td align="right" bgcolor="#eeeeee" colspan="'+cols+'">'+fontStr+'CRL Generation Split Times</font></td>');
        } else {
            document.writeln('<td bgcolor="#eeeeee">'+fontStr+'&nbsp;&nbsp;CRL Generation Split Times</font></td>');
        }
        var t0 = 0;
        var t1 = 0;
        var t2 = 0;
        var t3 = 0;
        var t4 = 0;
        var t5 = 0;
        for (var i = 0; i < result.recordSet.length; i++) {
            var crlTime;
            if (result.recordSet[i].crlSplits != null && result.recordSet[i].crlSplits.length > 0) {
                crlTime = result.recordSet[i].crlSplits.split(',');
            } else {
                crlTime = null;
            }
            var total = 0;
            var crlTotal = 0;
            var deltaCrlTotal = 0;
            var fullCrlTotal = 0;
            for (k = 0; crlTime != null && k < crlTime.length; k++) {
                if (k > 0 && k < 5) {
                    deltaCrlTotal += parseInt(crlTime[k]);
                } else {
                    fullCrlTotal += parseInt(crlTime[k]);
                }
                crlTotal += parseInt(crlTime[k]);
            }
            t0 = parseInt(result.recordSet[i].cacheUpdate);
            total += t0 + crlTotal;
            t1 += total;
            t2 += t0;
            t3 += crlTotal;
            t4 += fullCrlTotal;
            t5 += deltaCrlTotal;
            document.writeln('<tr>');
            document.writeln('<td align="right">'+fontStr+(i+1)+'</font></td>');
            document.writeln('<td align="right">'+fontStr+result.recordSet[i].crlNumbers+'</font></td>');
            document.writeln('<td align="right">'+fontStr+result.recordSet[i].crlSizes+'</font></td>');
            document.writeln('<td align="right">'+fontStr+total+'</font></td>');
            document.writeln('<td align="right">'+fontStr+result.recordSet[i].cacheUpdate+'</font></td>');
            document.writeln('<td align="right">'+fontStr+crlTotal+'</font></td>');
            document.writeln('<td align="right">'+fontStr+fullCrlTotal+'</font></td>');
            document.writeln('<td align="right">'+fontStr+deltaCrlTotal+'</font></td>');
            if (cols > 0) {
                for (k = 0; crlTime != null && k < crlTime.length; k++) {
                    document.writeln('<td align="right">'+fontStr+crlTime[k]+'</font></td>');
                }
            } else {
                document.writeln('<td>'+fontStr+'&nbsp;&nbsp;'+result.recordSet[i].crlSplits+'</font></td>');
            }
            document.writeln('</tr>');
        }
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'Totals</td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+t1+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+t2+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+t3+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+t4+'</font></td>');
        document.writeln('<td align="right" bgcolor="#eeeeee">'+fontStr+t5+'</font></td>');
        if (cols > 0) {
            for (k = 0; crlTime != null && k < crlTime.length; k++) {
                document.writeln('<td bgcolor="#eeeeee">'+fontStr+'</font></td>');
            }
        } else {
            document.writeln('<td bgcolor="#eeeeee">'+fontStr+'</font></td>');
        }

        document.writeln('</table>');
    }
} else if (result.header.crlUpdate == 'Failure') {
    document.writeln('The Certificate Revocation List has not been updated successfully.<br>');
    if (result.header.error != null) {
        document.writeln('<br>&nbsp;&nbsp;&nbsp;&nbsp;Additional information:<br>');
        document.writeln('<blockquote><b><pre>'+result.header.error+'</pre></b></blockquote>');
    }
} else if (result.header.crlUpdate == 'missingParameters') {
    document.writeln('The Certificate Revocation List test cannot be performed because some parameters are defined.');
} else if (result.header.crlUpdate == 'testingNotEnabled') {
    document.writeln('The Certificate Revocation List testing is not enabled.');
} else if (result.header.crlUpdate == 'testingInProgress') {
    document.writeln('The Certificate Revocation List testing is in progress.');
} else if (result.header.crlUpdate == 'Scheduled') {
    document.writeln('The Certificate Revocation List update has been scheduled.<br>');
    document.writeln('Check the CS logs to see results.');
} else if (result.header.crlUpdate == 'inProgress') {
    document.writeln('The Certificate Revocation List update is in progress.<br>');
    document.writeln('Check the CS logs to see results.');
} else if (result.header.crlUpdate == 'Disabled') {
    document.writeln('The Certificate Revocation List updates are disabled.<br>');
} else if (result.header.crlUpdate == 'notInitialized') {
    document.write('CRL Issuing Point');
    if (result.header.crlIssuingPoint != null) {
        document.write(' <i>'+result.header.crlIssuingPoint+'</i>');
    }
    document.writeln(' has not been initialized.<br>');
    document.writeln('Check the CS logs to see results.');
} else {
    document.write('The Certificate Revocation List has been updated successfully');
//    if (result.header.time != null) {
//        var sec = result.header.time / 1000;
//        document.write(' in '+sec+' seconds');
//    }
    document.writeln('.');
}
</SCRIPT>
</font>
</BODY>
</HTML>
