<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <display-name>Certificate Authority</display-name>

   <servlet>
      <servlet-name>  caQueryBySerial  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.QueryBySerial  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/ca/queryBySerial.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  interface  </param-name>
                         <param-value> agent      </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caQueryBySerial </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caDynamicVariables  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.CADynamicVariables  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caDynamicVariables </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  dynamicVariables  </param-name>
                         <param-value> serverdate=serverdate(),subsystemname=subsystemname(),http=http(),authmgrs=authmgrs(),clacrlurl=clacrlurl() </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caDynamicVariables-agent  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.CADynamicVariablesAgent  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caDynamicVariables </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  dynamicVariables  </param-name>
                         <param-value> serverdate=serverdate(),subsystemname=subsystemname(),http=http(),authmgrs=authmgrs(),clacrlurl=clacrlurl() </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent       </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caDynamicVariables-admin  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.CADynamicVariablesAdmin  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caDynamicVariables </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  dynamicVariables  </param-name>
                         <param-value> serverdate=serverdate(),subsystemname=subsystemname(),http=http(),authmgrs=authmgrs(),clacrlurl=clacrlurl() </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> admin       </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCSimple  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> pkcs10      </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caSimpleCMCUserCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  outputFormat  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCSimple </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFull  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caFullCMCUserCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullCACert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCcaCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullServerCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCserverCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullOCSPCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCocspCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullSubsystemCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCsubsystemCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullAuditSigningCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCauditSigningCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullKRATransportCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCkraTransportCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitCMCFullKRAstorageCert  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caCMCkraStorageCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitUserSignedCMCFull  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caFullCMCUserSignedCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitUserSignedCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  caProfileSubmitSelfSignedCMCFull  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.profile.ProfileSubmitCMCServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  cert_request_type  </param-name>
                         <param-value> cmc         </param-value> </init-param>
             <init-param><param-name>  profileId   </param-name>
                         <param-value> caFullCMCSelfSignedCert </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ca          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> caProfileSubmitSelfSignedCMCFull </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /ee/ca/ProfileSubmit.template </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.profile </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <!-- ==================== RESTEasy Configuration =============== -->

   <listener>
      <listener-class> org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap </listener-class>
   </listener>

   <context-param>
      <param-name>resteasy.servlet.mapping.prefix</param-name>
      <param-value>/rest</param-value>
   </context-param>

   <context-param>
      <param-name>resteasy.role.based.security</param-name>
      <param-value>true</param-value>
   </context-param>

   <context-param>
      <param-name>resteasy.resource.method-interceptors</param-name>
      <param-value>
         org.jboss.resteasy.core.ResourceMethodSecurityInterceptor
      </param-value>
   </context-param>

   <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
      <init-param>
         <param-name>javax.ws.rs.Application</param-name>
         <param-value>org.dogtagpki.server.ca.rest.CAApplication</param-value>
      </init-param>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>Resteasy</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  caDynamicVariables  </servlet-name>
      <url-pattern>   /ee/dynamicVars.js  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  caDynamicVariables-agent  </servlet-name>
      <url-pattern>   /agent/dynamicVars.js  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  caDynamicVariables-admin  </servlet-name>
      <url-pattern>   /admin/dynamicVars.js  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caQueryBySerial  </servlet-name>
      <url-pattern>   /agent/ca/queryBySerial.html  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCSimple  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCSimple  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFull  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFull  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullCACert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullCACert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullServerCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullServerCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullOCSPCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullOCSPCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullSubsystemCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullSubsystemCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullAuditSigningCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullAuditSigningCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullKRATransportCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullKRAtransportCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitCMCFullKRAstorageCert  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitCMCFullKRAstorageCert  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>  
      <servlet-name>  caProfileSubmitUserSignedCMCFull  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitUserSignedCMCFull  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  caProfileSubmitSelfSignedCMCFull  </servlet-name>
      <url-pattern>   /ee/ca/profileSubmitSelfSignedCMCFull  </url-pattern>
   </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Account Services</web-resource-name>
            <url-pattern>/rest/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Services</web-resource-name>
            <url-pattern>/rest/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Agent Services</web-resource-name>
            <url-pattern>/rest/agent/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Audit</web-resource-name>
            <url-pattern>/rest/audit/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authority Services</web-resource-name>
            <url-pattern>/rest/authorities/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security Domain Services</web-resource-name>
            <url-pattern>/rest/securityDomain/installToken</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Self Tests</web-resource-name>
            <url-pattern>/rest/selftests/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Profile Services</web-resource-name>
            <url-pattern>/rest/profiles/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <realm-name>Certificate Authority</realm-name>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>

</web-app>

