<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
   <title>Check Certificate Status</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<SCRIPT LANGUAGE="JavaScript"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" SRC="../helpfun.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
if (navigator.appName == "Microsoft Internet Explorer") {
    document.writeln('<META HTTP-EQUIV="Pragma" CONTENT="no-cache">');
}
//-->
</SCRIPT>
</head>

<CMS_TEMPLATE>

<body bgcolor="#FFFFFF" link="#6666CC" vlink="#6666CC" alink="#333399">
<font face="PrimaSans BT, Verdana, sans-serif" size="+1">
Online Certificate Status
</font><br>
<table border="0" cellspacing="0" cellpadding="0" background="/pki/images/hr.gif" width="100%">
  <tr> 
    <td>&nbsp;</td>
  </tr>
</table>
<br>

<SCRIPT LANGUAGE="JavaScript">
<!--
    document.writeln('<table border="0" cellspacing="2" cellpadding="2" width="100%">');
    document.writeln('<tr align="left" bgcolor="#e5e5e5"><td align="left">');
    document.writeln('<font face="PrimaSans BT, Verdana, sans-serif" size="-1">');
    document.writeln('Certificate status summary</font></td></tr></table>');

    document.writeln('<table border="0" cellspacing="2" cellpadding="2" width="100%">');
    document.writeln('<tr><td align="left" width="40%">');
    document.writeln('<font size=-1 face="PrimaSans BT, Verdana, sans-serif">');
    document.writeln('Status: ' + result.header.status + '</font></td>');
    document.writeln('</tr>');
    document.writeln('<tr><td align="left" width="40%">');
    document.writeln('<font size=-1 face="PrimaSans BT, Verdana, sans-serif">');
    document.writeln('Serial Number: ' + result.header.serialno + '</font></td>');
    document.writeln('</tr>');
    document.writeln('<tr><td align="left" width="40%">');
    document.writeln('<font size=-1 face="PrimaSans BT, Verdana, sans-serif">');
    document.writeln('Issuer DN: ' + result.header.issuerDN + '</font></td>');
    document.writeln('</tr>');
    document.writeln('<tr><td align="left" width="40%">');
    document.writeln('<font size=-1 face="PrimaSans BT, Verdana, sans-serif">');
    document.writeln('Subject DN: ' + result.header.subjectDN + '</font></td>');
    document.writeln('</tr>');

    document.writeln('</table>');
    document.writeln('</td></tr></table>');
//-->
</SCRIPT>

</BODY>
</HTML>

