<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Key Recovery Result</title>
</head>
<body bgcolor="white">

<CMS_TEMPLATE>
<SCRIPT LANGUAGE="JavaScript"></SCRIPT>
<script language="JavaScript" src="../funcs.js"></script>
<script language="JavaScript" src="../helpfun.js"></script>
<script language="JavaScript">
//<!--
function toHex(number)
{
    var absValue = "", sign = "";
    var digits = "0123456789abcdef";
    if (number < 0) {
	sign = "-";
	number = -number;
    }
    
    for(; number >= 16 ; number = Math.floor(number/16)) {
	absValue = digits.charAt(number % 16) + absValue;
    }
    absValue = digits.charAt(number % 16) + absValue;
    return sign + absValue;
}

if (result.header.errorDetails != null) {
        writeError(result.header.errorDetails);
} else {
	document.write('<font face="PrimaSans BT, Verdana, sans-serif" size=+1>Key Recovery Status</font>');
	document.write('<center><hr width="100%"></center>');
	document.write("<p>");
	document.write('<font face="PrimaSans BT, Verdana, sans-serif" size=-1>');
	document.write('Recovery request for Key with key identifier ' + 
                ((typeof(result.header.serialNumberInHex) != "undefined")?
                 result.header.serialNumberInHex: toHex(result.header.serialNumber)) +
		' has been submitted.\n' +
		'Waiting for recovery agents\' approval...');

        if (result.header.recoveryID == null) {
            document.writeln('<p>');
            document.writeln(result.header.noOfRequiredAgents +
                ' recovery agents are required for authorization.' );
            document.writeln('<p>');

            document.writeln('This is an asynchronous key recovery request.  You might want to notify authorized key recovery agents to grant this request by going to request' +
            '<a href="/kra/agent/kra/processReq?op=processReq&seqNum=' +
            result.header.requestID+'"> ' + result.header.requestID +'</a>.')
	    document.write('</font>');
        }else {
	    document.write('</font>');
	    window.location = result.fixed.scheme + "://" + result.fixed.host +
	 		":" + result.fixed.port + "/kra/agent/kra/getApprovalStatus?recoveryID=" +
	 		result.header.recoveryID;	

	    if (result.header.status == "complete") {
		document.writeln(
			'<font face="PrimaSans BT, Verdana, sans-serif"><font size=+1>'+
			'Click ' +
			'<a href="/kra/agent/kra/getPk12?recoveryID=' + 
			result.header.recoveryID + '"' + 
			'onMouseOver=" return helpstatus(\'Click to get key in PKCS12 ' +
			'\')" onMouseOut="return helpstatus(\'\')">' +
			"here" + 
			'</a>' + ' to get the recovered key in PKCS12 format.</font></font>');
	    }
        }

}

//-->
</script>
</BODY>
</HTML>
