ansible==8.5.0
pytest-ansible==2.2.3
pytest-ansible-playbook
pytest-logger
pytest-autochecklog==0.2.0
configparser==4.0.2
pytest-html==1.22.1
pytest_marker_bugzilla==0.9.4
python-bugzilla==2.5.0
pyOpenSSL
