<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <display-name>PKI</display-name>

    <mime-mapping>
        <extension>properties</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>PKI UI</web-resource-name>
            <url-pattern>/ui/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>
