<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<title>Certificates</title>
    <link rel="shortcut icon" href="/pki/images/favicon.ico" />
    <link rel="stylesheet" href="/pki/css/pki-base.css" type="text/css" />
    <META http-equiv=Content-Type content="text/html; charset=UTF-8">

</head>
<body bgcolor="#FFFFFF" link="#666699" vlink="#666699" alink="#333366">

#include ( "header.vm" )

<div id="mainNavOuter">
<div id="mainNav">
<div id="mainNavInner">

</div><!-- end mainNavInner -->
</div><!-- end mainNav -->
</div><!-- end mainNavOuter -->
                                                                                
                                                                                
<div id="bar">
                                                                                
<div id="systembar">
<div id="systembarinner">
                                                                                
<div>
UID: $uid
</div>
                                                                                
                                                                                
</div>
</div>
                                                                                
</div>


<font size="+1" face="PrimaSans BT, Verdana, Arial, Helvetica, sans-serif">
<a href="/agent/index.cgi">Agent Interface</a>
<br>Certificate Information
</font><br>
<p> 
</font>
<center>
<table border="1" cellspacing="1" cellpadding="1">
<tr valign="TOP">
<td><b>Serial Number</b></td>
<td><a href="read.cgi?serialno=$serialno">$serialno</a></td>
</tr>
<tr valign="TOP">
<td><b>Subject DN</b></td>
<td>$subject_dn</td>
</tr>
<tr valign="TOP">
<td><b>Certificate</b></td>
<td>$certificate</td>
</tr>
<tr valign="TOP">
<td><b>Approved By</b></td>
<td>$approved_by</td>
</tr>
<tr valign="TOP">
<td><b>Created At</b></td>
<td>$created_at</td>
</tr>
<tr valign="TOP">
<td><b>Revocation Status</b></td>
<td>$certStatus</td>
</tr>
</table>
</center>
<br/>
<a href="/agent/cert/revoke.cgi?rid=$rid&serialno=$serialno&subject_dn=$subject_dn">Revoke</a>
<br/>
#include ( "footer.vm" )

</body>
</html>
