[Unit]
Description=PKI Tomcat Server %i
After=pki-tomcatd.target
PartOf=pki-tomcatd.target

[Service]
Type=forking
ExecStart=/usr/bin/pkidaemon start tomcat %i
ExecStop=/usr/bin/pkidaemon stop tomcat %i
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

