<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Copyright Red Hat, Inc.

SPDX-License-Identifier: GPL-2.0-or-later
-->
<web-app>

    <display-name>ACME Responder</display-name>

    <security-constraint>
        <display-name>Allow somebody with credentials to log in</display-name>
        <web-resource-collection>
            <url-pattern>/login</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Allow anybody to get login information</display-name>
        <web-resource-collection>
            <url-pattern>/login</url-pattern>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Allow anybody to log out</display-name>
        <web-resource-collection>
            <web-resource-name>Logout Service</web-resource-name>
            <url-pattern>/logout</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Allow administrators to enable ACME services</display-name>
        <web-resource-collection>
            <url-pattern>/enable</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrators</role-name>
            <role-name>Enterprise ACME Administrators</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Allow administrators to disable ACME services</display-name>
        <web-resource-collection>
            <url-pattern>/disable</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administrators</role-name>
            <role-name>Enterprise ACME Administrators</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <realm-name>ACME</realm-name>
    </login-config>

    <security-role>
        <role-name>Administrators</role-name>
    </security-role>

    <security-role>
        <role-name>Enterprise ACME Administrators</role-name>
    </security-role>

</web-app>
