<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <display-name>Key Recovery Authority</display-name>

   <servlet>
      <servlet-name>  kraheader  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.KRAHeaderServlet  </servlet-class>
             <init-param><param-name>  templatePath   </param-name>
                         <param-value> /agent/header.template</param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraheader   </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
             <init-param><param-name>  template    </param-name>
                         <param-value> /agent/header.template </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraSrchRecoverKey  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.KRASearchKeyForRecovery  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/kra/SrchRecoverKey.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  templatePath   </param-name>
                         <param-value> /agent/kra/srchKeyForRecovery.template</param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraSrchRecoverKey </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/kra/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraSrchKey  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.KRASearchKey  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/kra/SrchKey.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  templatePath   </param-name>
                         <param-value> /agent/kra/srchKey.template</param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraSrchKey  </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/kra/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraListRequests  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.KRAListRequests  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/kra/ListRequests.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  templatePath   </param-name>
                         <param-value> /agent/kra/ListRequests.template</param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraListRequests </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/kra/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraindex  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.KRAIndexServlet  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraindex    </param-value> </init-param>
             <init-param><param-name>  template    </param-name>
                         <param-value> index.template </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraGrantRecovery  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.DisplayHtmlServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/kra/GrantRecovery.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  templatePath   </param-name>
                         <param-value> /agent/kra/grantRecovery.template</param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraGrantRecovery </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/kra/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

<!--
   <servlet>
      <servlet-name>  krajobsScheduler  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.admin.JobsAdminServlet  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> krajobsScheduler </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
   </servlet>
-->

   <servlet>
      <servlet-name>  kraGetCookie  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.GetCookie  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraGetCookie  </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> passwdUserDBAuthMgr </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /admin/kra/sendCookie.template </param-value> </init-param>
             <init-param><param-name>  errorTemplatePath  </param-name>
                         <param-value> /admin/kra/securitydomainlogin.template </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraTokenAuthenticate  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.TokenAuthenticate  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraTokenAuthenticate  </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  kraTokenAuthenticate-admin  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.TokenAuthenticate  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> kra         </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> kraTokenAuthenticate  </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> admin          </param-value> </init-param>
   </servlet>

<!--
   <servlet-mapping>
      <servlet-name>  krajobsScheduler  </servlet-name>
      <url-pattern>   /jobsScheduler  </url-pattern>
   </servlet-mapping>
-->

   <servlet-mapping>
      <servlet-name>  kraheader  </servlet-name>
      <url-pattern>   /agent/header  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraSrchRecoverKey  </servlet-name>
      <url-pattern>   /agent/kra/srchRecoverKey.html  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraSrchKey  </servlet-name>
      <url-pattern>   /agent/kra/srchKey.html  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraListRequests  </servlet-name>
      <url-pattern>   /agent/kra/listRequests.html  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraindex  </servlet-name>
      <url-pattern>   /index  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraGrantRecovery  </servlet-name>
      <url-pattern>   /agent/kra/grantRecovery.html  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraGetCookie </servlet-name>
      <url-pattern>   /admin/kra/getCookie  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraTokenAuthenticate </servlet-name>
      <url-pattern>   /ee/kra/tokenAuthenticate  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  kraTokenAuthenticate-admin </servlet-name>
      <url-pattern>   /admin/kra/tokenAuthenticate  </url-pattern>
   </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Account Services</web-resource-name>
            <url-pattern>/rest/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Services</web-resource-name>
            <url-pattern>/rest/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Agent Services</web-resource-name>
            <url-pattern>/rest/agent/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Audit</web-resource-name>
            <url-pattern>/rest/audit/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security Domain Services</web-resource-name>
            <url-pattern>/rest/securityDomain/installToken</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Self Tests</web-resource-name>
            <url-pattern>/rest/selftests/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <realm-name>Key Recovery Authority</realm-name>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>

</web-app>
