<!-- --- BEGIN COPYRIGHT BLOCK ---
     This library is free software; you can redistribute it and/or
     modify it under the terms of the GNU Lesser General Public
     License as published by the Free Software Foundation.
     
     This library is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
     Lesser General Public License for more details.
     
     You should have received a copy of the GNU Lesser General Public
     License along with this library; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor,
     Boston, MA  02110-1301  USA 
     
     Copyright (C) 2010 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
<link rel="shortcut icon" href="/pki/images/favicon.ico" />
<HEAD>
<TITLE>TPS</Title>
</HEAD>

<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#000000">
  <tr>
    <td> 
      <table border="0" cellspacing="12" cellpadding="0">
        <tr>
          <td><img src="/pki/images/logo_header.gif"></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><font size="+1" face="PrimaSans BT, Verdana, sans-serif" color="white">Red Hat<sup><font color="#999999" size="-2">&reg;</font></sup> TPS Services</font></td>
        </tr>
      </table>
    </td> 
  </tr>
</table>
<p>

<BODY>

<CMS_TEMPLATE>

<SCRIPT type="text/JavaScript">
<!--
var uri0 = "";
if (typeof(uriBase) == "undefined") {
    uri0 += "/tus";
} else {
    uri0 += uriBase;
}

document.write("<font face=\"PrimaSans BT, Verdana, sans-serif\" size=\"+1\">"+
               "<a href=\""+uri0+"\">Main Menu</a> : Agent Operations : " + disp_conf_type + " Review </font>\n");

if ((typeof(flash) != "undefined") && (flash != "")) {
    document.write("<table width=\"100%\"><tr><td align=\"left\">" +
        "<font color=\"#ff0000\"><b>" + flash.replace(/\+/g, " ") + "</b><font>" +
        "</td></tr></table>\n");
}

document.write("<table width=\"100%\"><tr><td align=\"right\">" +
                "<b>UID:</b>" + userid
                + "</td></tr></table>\n");
document.write("<HR NOSHADE SIZE=1>\n");

function validate_required(field,alerttxt) {
    with (field) {
        if (value==null||value=="") {
            alert(alerttxt);
            return false;
        }
        else {
            return true;
        }
    }
}

function validate_form(thisform) {
    with (thisform) {
    }
    return true;
}

function doViewConfig(form) {
        var uri = "";
        var s = document.editConfigForm.pvalues.value;
        if (typeof(uriBase) == "undefined") {
            uri += "/tus";
        } else {
            uri += uriBase;
        }
        if (validate_form(this)) {
            this.action = uri;
            return true;
        } else {
            return false;
        }
}

function doCancel() {
    var uri = "";
    if (typeof(uriBase) == "undefined") {
        uri += "/tus";
    } else {
        uri += uriBase;
    }
    location.href = uri;
}

function doDelete() {
    var uri = "";
    if (typeof(uriBase) == "undefined") {
        uri += "/tus";
    } else {
        uri += uriBase;
    }
    location.href = uri;
}

    document.write("<table BORDER=0 CELLSPACING=2 CELLPADDING=0 width=100%>\n");
    document.write("<tr><td align=left width=20% bgcolor=#e5e5e5>" + disp_conf_type + ": </td>\n");
    document.write("<td align=left width=20% colspan=4>" + conf_name + "</td></tr>");

    document.write("<tr><td align=left width=20% bgcolor=#e5e5e5> Status: </td>\n");
    document.write("<td align=left width=20% colspan=4>" + conf_state.replace(/_/g, " ") + "</td></tr>");

    document.write("<form NAME =\"viewConfigForm\" METHOD=POST onSubmit=\"return doViewConfig(this);\">\n");
    document.write("<input TYPE=hidden NAME=query VALUE=\"op=agent_change_config_state\">");
    document.write("<input TYPE=hidden NAME=ptype VALUE=\"" + conf_type + "\">");
    document.write("<input TYPE=hidden NAME=pname VALUE=\"" + conf_name + "\">");
    document.write("<input TYPE=hidden NAME=ptimestamp VALUE=\"" + conf_tstamp + "\">");

    document.write("<tr><td align=left width=20% bgcolor=#e5e5e5> Contents: </td>\n");
    document.write("<td colspan=4>\n");
    if ((typeof(conf_values) == "undefined") || (conf_values.length == 0) ) {
        document.write("<textarea name=pvalues cols=100 rows=40 style=\"color:#000000\" disabled=disabled >\n");
        document.write("</textarea>\n");
    } else {
        document.write("<textarea name=pvalues cols=100 rows=40 style=\"color:#000000\" disabled=disabled >\n");
        document.write(conf_values.replace(/&&/g, "\r\n"));
        document.write("</textarea>\n");
    }
    document.write("</td></tr>\n");
    document.write("</table>\n");

    document.write("<HR NOSHADE SIZE=1>");
    document.write("<DIV ALIGN=RIGHT>");

    document.write("<table BORDER=0 CELLSPACING=2 CELLPADDING=4>\n");
    document.write("<tr>\n");
    document.write("<td align=left>\n");
    if (conf_state == "Enabled") {
        document.write("<input TYPE=submit name=choice VALUE=Disable>");
    } else {
        document.write("<input TYPE=submit name=choice VALUE=Disable disabled=disabled>");
    }
    document.write("</td>\n");
    document.write("<td align=left>\n");
    if (conf_state == "Pending_Approval") {
        document.write("<input TYPE=submit name=choice VALUE=Reject >");
    } else {
        document.write("<input TYPE=submit name=choice VALUE=Reject disabled=disabled>");
    }
    document.write("</td>\n");
    document.write("<td align=left>\n");
    if ((conf_state == "Disabled") || (conf_state == "Pending_Approval")) {
        document.write("<input TYPE=submit name=choice VALUE=\"Approve and Enable\">");
    } else {
        document.write("<input TYPE=submit name=choice VALUE=\"Approve and Enable\" disabled=disabled>");
    }
    document.write("</td>\n");
    document.write("<td align=left>\n");
    document.write("<input TYPE=button VALUE=Cancel onClick=\"doCancel();\">");
    document.write("</td>\n");
    document.write("</tr>\n");

    document.write("</form>\n");
    document.write("</table>\n");

//-->
</SCRIPT>

</BODY>
</HTML>
