[DEFAULT]
pki_instance_name=pki-tomcat
pki_https_port=8443
pki_http_port=8444
pki_server_database_password=SECret.123
pki_cert_chain_path=/root/ca.chain.crt

[Tomcat]
pki_ajp_port=8009
pki_tomcat_server_port=8005

[CA]
pki_subordinate=True
pki_issuing_ca_https_port=7443
pki_issuing_ca_hostname=root.example.com
pki_issuing_ca=https://root.example.com:7443

pki_issuing_ca_uri=https://root.example.com:7443

# New Security Domain
pki_security_domain_hostname=pki.example.com
pki_security_domain_https_port=7443
pki_security_domain_password=SECret.123
pki_subordinate_create_new_security_domain=True
pki_subordinate_security_domain_name=Example-pki-RSA-SubCA
pki_security_domain_user=caadmin

pki_random_serial_numbers_enable=True

ds_bind_dn=cn=Directory Manager

pki_ds_url=ldap://localhost.localdomain:389
pki_ds_hostname=ca1.example.test
pki_ds_ldap_port=389
pki_ds_ldaps_port=636
pki_ds_password=SECret.123
pki_ds_remove_data=True
pki_ds_secure_connection=True
pki_ds_secure_connection_ca_pem_file=/etc/dirsrv/slapd-ca1/ca.crt
pki_ds_secure_connection_ca_nickname=DS temp CA certificate
pki_ds_base_dn=dc=Example-pki-RSA-SubCA
pki_ds_database=Example-pki-RSA-SubCA

pki_share_db=False

pki_admin_email=caadmin@example.test
pki_admin_name=caadmin
pki_admin_nickname=caadmin
pki_admin_password=SECret.123
pki_admin_uid=caadmin

pki_client_dir=/root/pki-RSA-SubCA/
pki_client_admin_cert_p12=/root/pki-RSA-SubCA/subca1_admin_cert.p12
pki_client_pkcs12_password=SECret.123
pki_client_database_dir=/root/pki-RSA-SubCA/certs_db
pki_client_database_password=SECret.123
pki_client_database_purge=False

pki_ca_signing_token=xx
pki_ca_signing_token=internal
pki_ca_signing_key_algorithm=SHA256withRSA
pki_ca_signing_key_size=3072
pki_ca_signing_key_type=rsa
pki_ca_signing_nickname=ca_signing
pki_ca_signing_nickname=CA Signing Cert - %(pki_instance_name)s
pki_ca_signing_subject_dn=cn=Subordinate CA Signing Certificate,o=EXAMPLE
pki_ca_signing_signing_algorithm=SHA256withRSA

pki_ocsp_signing_token=xx
pki_ocsp_signing_token=internal
pki_ocsp_signing_key_algorithm=SHA256withRSA
pki_ocsp_signing_key_size=3072
pki_ocsp_signing_key_type=rsa
pki_ocsp_signing_nickname=ca_ocsp_signing
pki_ocsp_signing_signing_algorithm=SHA256withRSA

pki_sslserver_key_algorithm=SHA256withRSA
pki_sslserver_key_size=4096
pki_sslserver_key_type=rsa

pki_sslserver_nickname=sslserver

pki_subsystem_key_algorithm=SHA256withRSA
pki_subsystem_key_size=4096
pki_subsystem_key_type=rsa

pki_subsystem_nickname=subsystem

pki_audit_signing_key_algorithm=SHA256withRSA
pki_audit_signing_key_size=4096
pki_audit_signing_key_type=rsa

pki_audit_signing_nickname=ca_audit_signing
pki_audit_signing_signing_algorithm=SHA256withRSA
