<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
<CMS_TEMPLATE>
<TITLE>Certificate Service Error</TITLE>
</HEAD>
<BODY bgcolor="white">
<center><h2><b>Problem Processing Your Request</b></h2></center>
<p>
The certificate service encountered a problem when processing your 
request. This problem may indicate a flaw in the form used to 
submit your request or the values that were entered into the form. 
The following message supplies more information about the error 
that occurred.
<p>
<blockquote><b><pre>
<SCRIPT type="text/javascript">
if (result.header.errorDetails != null) {
    document.write(result.header.errorDetails);
} else {
    document.write('Unable to provide details.  Contact Administrator.');
}
</SCRIPT>
</pre></b></blockquote>

<SCRIPT type="text/javascript">
if (result.header.errorDescription != null) {
    document.write('<p>Additional Information:<p>');
    document.write('<blockquote><b>');
	document.write(result.header.errorDescription);
	document.write('</b></blockquote>');
}
</SCRIPT>
<p>
Please consult your local administrator for further assistance. 
The certificate server's log may provide further information.
</BODY>
</HTML>

