<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    
    <title>Dogtag Certificate System</title>
<SCRIPT LANGUAGE="JavaScript">
    function checkClose() {
      if ('$status' == "update" && '$error' == '') {
            window.close();
      }
    }

</SCRIPT>

    <link rel="shortcut icon" href="/pki/images/favicon.ico" />
    <link rel="stylesheet" href="/pki/css/pki-base.css" type="text/css" />
  </head>


  <body onLoad="checkClose();"><div id="wrap">
  
<div id="mainNavOuter">
<div id="mainNav">

<div id="mainNavInner">

#include ( "admin/console/config/topmenu.vm" )

</div><!-- end mainNavInner -->
</div><!-- end mainNav -->
</div><!-- end mainNavOuter -->


<!-- close bar -->

  <div id="content">
    <table width="100%" cellspacing="0">
      <tr>
        <td width="100%">
  <h1><img src="/pki/images/icon-software.gif" />
  Security Modules </h1>

<form name=configForm action="config_hsm" method="post">

Keys will be generated and stored on security modules. A security module can be hardware-based or software-based. Hardware-based security modules are more secure. Please make sure that at least one security module is listed below.
<p>
<H2>Supported Security Modules</H2>
<table width=100%>
<tr bgcolor="#cccccc">
  <td width=20%><b>Module/Token</b></td>
  <td width=10%><b>Status</b></td>
  <td width=10%><b>Default</b></td>
  <td width=10%><b>Operations</b></td>
</tr>
#foreach ($module in $sms)
<tr bgcolor="#eeeeee">
  <td><img src=$module.getImagePath()><br>$module.getUserFriendlyName()</td>
  <td>
	#if ($module.isFound())
		Found
	#else
		Not Found
	#end
  </td>
  <td></td>
  <td></td>
</tr>
#foreach ($token in $module.getTokens())
<tr>
  <td>- $token.getNickName()</td>
    <td>
	#if ($token.isLoggedIn())
	   Logged In
	#else
       	   Not logged In
	#end
    </td>
  <td>
    #if ($defTok == $token.getNickName())
      <input checked type=radio name="choice" value="$token.getNickName()">
    #else
      <input type=radio name="choice" value="$token.getNickName()">
    #end
  </td>
  <td></td>
</tr>
#end
#end

</table>
<H2>Other Security Modules</H2>
<h3>The security modules listed below are modules found by the server but not recognized as one of the supported modules. If the user believes that any listed modules below should have been supported, please check the "CS.cfg" configuration file to see if there is a name mismatch and adjust this accordingly.</h3>
<table width=100%>
<tr bgcolor="#cccccc">
  <td width=20%><b>Module/Token</b></td>
  <td width=10%><b>Status</b></td>
  <td width=10%><b>Default</b></td>
  <td width=10%><b>Operations</b></td>
</tr>
#foreach ($module in $oms)
<tr bgcolor="#eeeeee">
  <td>$module.getUserFriendlyName()</td>
  <td>
	#if ($module.isFound())
		Found
	#else
		Not Found
	#end
  </td>
  <td></td>
  <td></td>
</tr>
#foreach ($token in $module.getTokens())
<tr>
  <td>- $token.getNickName()</td>
    <td>
	#if ($token.isLoggedIn())
	  Logged In
	#else
          Not logged In
	#end
    </td>
  <td>
    #if ($defTok == $token.getNickName())
      <input checked type=radio name="choice" value="$token.getNickName()">
    #else
      <input type=radio name="choice" value="$token.getNickName()">
    #end
  </td>
  <td></td>
</tr>
#end
#end

</table>

  </td>
</tr>
</table>
<p>
<table width=100%>
<tr bgcolor="#eeeeee">
  <td>
<input onclick="configForm.submit()" type=button name=config_hsm value="Apply">                                                                                
  </td>
</tr>
</table>
</form>
	</td>
      </tr>
    </table>

  </div> <!-- close content -->
  </div> <!-- close wrap -->

  </body>
</html>
