[Unit]
Description=PKI Certificate Authority Server %i
After=pki-cad.target
BindTo=pki-cad.target

[Service]
Type=forking
ExecStart=/usr/bin/pkicontrol start ca %i
ExecStop=/usr/bin/pkicontrol stop ca %i

[Install]
WantedBy=multi-user.target

