<job retention_tag="scratch">
	<whiteboard>
		Dogtag PKI beaker testing.
	</whiteboard>
	<recipeSet priority="Normal">
		<recipe kernel_options="" kernel_options_post="" ks_meta="" role="RECIPE_MEMBERS" whiteboard="">
			<autopick random="false"/>
			<watchdog panic="ignore"/>
			<packages/>
			<ks_appends/>
			<repos>
			</repos>
			<distroRequires>
				<and>
					<distro_family op="=" value=""/>
					<distro_name op="=" value=""/>
					<distro_arch op="=" value=""/>
				</and>
			</distroRequires>
			<hostRequires>
				<system_type value="Machine"/>
			</hostRequires>
			<partitions/>
			<task name="/distribution/install" role="STANDALONE">
				<params/>
			</task>
			<task name="/CoreOS/dogtag/PKI_TEST_USER_ID" role="MASTER">
				<params>
					<param name="TEST_ALL" value="TRUE"/>
					<param name="QUICKINSTALL" value="FALSE"/>
					<param name="USER_ADD_CA" value="FALSE"/>
					<param name="USER_SHOW_CA" value="FALSE"/>
					<param name="USER_FIND_CA" value="FALSE"/>
					<param name="USER_DEL_CA" value="FALSE"/>
                                        <param name="DEV_JAVA_TESTS" value="FALSE"/>
				</params>
			</task>
			<!-- <task name="/distribution/reservesys" role="STANDALONE">
				<params/>
			</task> -->
		</recipe>
	</recipeSet>
</job>
