<job retention_tag="scratch">
	<whiteboard>
		Dogtag PKI beaker testing.
	</whiteboard>
	<recipeSet priority="Normal">
		<recipe kernel_options="" kernel_options_post="" ks_meta="" role="RECIPE_MEMBERS" whiteboard="">
			<autopick random="false"/>
			<watchdog panic="ignore"/>
			<packages/>
			<ks_appends/>
			<repos>
			</repos>
			<distroRequires>
				<and>
					<distro_family op="=" value=""/>
					<distro_name op="=" value=""/>
					<distro_arch op="=" value=""/>
				</and>
			</distroRequires>
			<hostRequires>
				<system_type value="Machine"/>
			</hostRequires>
			<partitions/>
			<task name="/distribution/install" role="STANDALONE">
				<params/>
			</task>
			<task name="/CoreOS/dogtag/PKI_TEST_USER_ID" role="MASTER">
				<params>
					<param name="TEST_ALL" value="TRUE"/>
					<param name="QUICKINSTALL" value="FALSE"/>
					<param name="PKI_USER_CA" value="FALSE"/>
					<param name="USER_ADD_CA" value="FALSE"/>
					<param name="USER_SHOW_CA" value="FALSE"/>
					<param name="USER_FIND_CA" value="FALSE"/>
					<param name="USER_DEL_CA" value="FALSE"/>
					<param name="USER_MEMBERSHIP_ADD_CA" value="FALSE"/>
                                        <param name="USER_MEMBERSHIP_FIND_CA" value="FALSE"/>
                                        <param name="USER_MEMBERSHIP_DEL_CA" value="FALSE"/>
                                        <param name="DEV_JAVA_TESTS" value="FALSE"/>
					<param name="CODE_COVERAGE" value="FALSE"/>
					<! --If you have CODE_COVERAGE set to TRUE, by default results will be stored on the local machine. If you would like to archive the code coverage results to a host you need to do following steps to set-up required rsa authentication files to perform ssh and scp.
					1. In dogtag/codecoverage directory provide input for id_rsa-host-beaker_archive, id_rsa-host-beaker_archive.pub and known_hosts_archivehost. Create a new rpm and add to beaker task library to test codecoverage.
					2.  Provide values for these entries, ARCHIVELOCATIONSERVER (mandatory, FQDN of the archival host; no default value provided), ARCHIVELOCATIONSCPUSER (optional, default value : beaker_archive), ARCHIVERUSERID (optional, default value: 8819) and  ARCHIVELOCATIONDESTINATION (optional, default value : /qa/archive/cs/dogtag10/code_coverage_results) -->
					<!-- <param name="ARCHIVELOCATIONSERVER" value=""/> -->
					<!-- <param name="ARCHIVELOCATIONSCPUSER" value=""/> -->
					<!-- <param name="ARCHIVERUSERID" value=""/> -->
					<!-- <param name="ARCHIVELOCATIONDESTINATION" value=""/> -->
				</params>
			</task>
			<!-- <task name="/distribution/reservesys" role="STANDALONE">
				<params/>
			</task> -->
		</recipe>
	</recipeSet>
</job>

