# based on
# https://fedorapeople.org/cgit/edewata/public_git/pki-dev.git/tree/scripts/ca.cfg
# https://fedorapeople.org/cgit/edewata/public_git/pki-dev.git/tree/scripts/kra.cfg

[DEFAULT]
pki_instance_name=pkitest
pki_https_port=8443
pki_http_port=8080
pki_master_https_port=8443
pki_security_domain_https_port=8443
pki_ds_bind_dn=cn=Directory Manager
pki_ds_ldap_port=389
pki_ds_password=DMSecret.123
pki_backup_keys=True
pki_backup_password=Secret.123
pki_client_database_password=Secret.123
pki_client_database_purge=False
pki_client_pkcs12_password=Secret.123
pki_clone_pkcs12_password=Secret.123
pki_security_domain_name=pkitest
pki_security_domain_user=caadmin
pki_security_domain_password=Secret.123
pki_token_password=Secret123

[CA]
pki_admin_email=caadmin@pki.test
pki_admin_name=caadmin
pki_admin_nickname=caadmin
pki_admin_password=Secret.123
pki_admin_uid=caadmin
pki_ds_base_dn=dc=ca,dc=pki,dc=test
pki_ds_database=ca

[KRA]
pki_admin_cert_file=/root/.dogtag/pkitest/ca_admin.cert
pki_admin_email=kraadmin@pki.test
pki_admin_name=kraadmin
pki_admin_nickname=kraadmin
pki_admin_password=Secret.123
pki_admin_uid=kraadmin
pki_ds_base_dn=dc=kra,dc=pki,dc=test
pki_ds_database=kra

[OCSP]
pki_admin_cert_file=/root/.dogtag/pkitest/ca_admin.cert
pki_admin_email=ocspadmin@pki.test
pki_admin_name=ocspadmin
pki_admin_nickname=ocspadmin
pki_admin_password=Secret.123
pki_admin_uid=ocspadmin
pki_ds_base_dn=dc=ocsp,dc=pki,dc=test
pki_ds_database=ocsp
