<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->

<SCRIPT type="text/JavaScript">
function myOnLoad() {
}

function performPanel() {
    with (document.forms[0]) {
        submit();
    }
}
</SCRIPT>
<h2>Authentication</h2>
<p>
The uid and password are used to authenticate to the master subsystem. These are the administrator's credential information for the master subsystem.
#if ($systemType != "tps")
<br/>
If authentication is successful, a cloned subsystem will retrieve the configuration information from the master one.
#end
<br/>
#if ($errorString != "")
<img src="/pki/images/icon_crit_update.gif">&nbsp;<font color="red">$errorString</font>
#end
    <table class="details">
      <tr>
        <th>Uid:</th>

        <td><input type="text" size="40" name="uid" value="$uid"/></td>
      </tr>
      <tr>
        <th>Password:</th>

        <td><input type="password" size="40" name="__password" value="$password" autocomplete="off"/></td>
      </tr>
    </table>
<p>
