<!-- --- BEGIN COPYRIGHT BLOCK ---
     This library is free software; you can redistribute it and/or
     modify it under the terms of the GNU Lesser General Public
     License as published by the Free Software Foundation; either
     
     This library is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
     Lesser General Public License for more details.
     
     You should have received a copy of the GNU Lesser General Public
     License along with this library; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor,
     Boston, MA  02110-1301  USA 
     
     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<div id="header">
    <a href="http://pki-svn.fedora.redhat.com/" title="Visit pki-svn.fedora.redhat.com for more information about Dogtag products and services"><img src="../img/logo_header.gif" alt="Dogtag" width="37" height="31" id="myLogo" /></a><a href="/" title="Dogtag Network homepage">Dogtag Certificate System</a>
    <div id="account">
    </div>
</div>
