[Unit]
Description=PKI Token Key Service %i
After=pki-tksd.target
BindTo=pki-tksd.target

[Service]
Type=forking
ExecStart=/usr/bin/pkicontrol start tks %i
ExecStop=/usr/bin/pkicontrol stop tks %i

[Install]
WantedBy=multi-user.target

