[Unit]
Description=PKI Tomcat Server %i
PartOf=pki-tomcatd.target

[Service]
Type=simple
EnvironmentFile=/usr/share/pki/etc/tomcat.conf
EnvironmentFile=/etc/tomcat/tomcat.conf
Environment="NAME=%i"
EnvironmentFile=-/etc/sysconfig/%i
EnvironmentFile=/usr/share/pki/etc/pki.conf
EnvironmentFile=/etc/pki/pki.conf

Environment="CATALINA_HOME=/usr/share/tomcat"
Environment="CATALINA_BASE=/var/lib/tomcat"
Environment="CATALINA_TMPDIR=/tmp"

ExecStartPre=/usr/sbin/pki-server upgrade %i
ExecStartPre=/usr/sbin/pki-server migrate %i
ExecStartPre=/usr/bin/pkidaemon start %i

ExecStart=/bin/sh /usr/libexec/tomcat/tomcat-run.sh
	
SuccessExitStatus=143
	
Restart=on-abort

User=pkiuser
Group=pkiuser


[Install]
WantedBy=pki-tomcatd.target
