[Unit]
Description=PKI Online Certificate Status Protocol Server %i
After=pki-ocspd.target
BindTo=pki-ocspd.target

[Service]
Type=forking
ExecStart=/usr/bin/pkicontrol start ocsp %i
ExecStop=/usr/bin/pkicontrol stop ocsp %i

[Install]
WantedBy=multi-user.target

