<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- BEGIN COPYRIGHT BLOCK
     Copyright (C) 2006 Red Hat, Inc.
     All rights reserved.
     END COPYRIGHT BLOCK -->
<web-app>

    <display-name>Online Certificate Status Protocol Manager</display-name>

   <servlet>
      <servlet-name>  ocspReadCheckCertPage  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.DisplayHtmlServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /ocsp/CheckCert.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspReadCheckCertPage </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>
                                                                                
   <servlet>
      <servlet-name>  ocspindex  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.IndexServlet  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspindex   </param-value> </init-param>
             <init-param><param-name>  template    </param-name>
                         <param-value> /agent/index.template </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>
   <servlet>
      <servlet-name>  ocspReadAddCRLPage  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.DisplayHtmlServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/ocsp/AddCRL.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspReadAddCRLPage </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>
                                                                                
   <servlet>
      <servlet-name>  ocspReadAddCAPage  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.DisplayHtmlServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent  </param-value> </init-param>
             <init-param><param-name>  htmlPath    </param-name>
                         <param-value> /agent/ocsp/AddCA.html </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspReadAddCAPage </param-value> </init-param>
             <init-param><param-name>  unauthorizedTemplate  </param-name>
                         <param-value> /agent/GenUnauthorized.template </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspheader  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.base.IndexServlet  </servlet-class>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspheader  </param-value> </init-param>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true        </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
             <init-param><param-name>  template    </param-name>
                         <param-value> /agent/header.template </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  services </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.MainPageServlet </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authorityId  </param-name>
                         <param-value> ocsp          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> services </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /services.template </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspOCSP  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.ocsp.OCSPOCSPServlet  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspOCSP    </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.ee.request.ocsp </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspDownloadPKCS12  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.DownloadPKCS12  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspDownloadPKCS12 </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> TokenAuth </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspGetStatus  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.GetStatus  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp          </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspGetStatus </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspUpdateDomainXML  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.UpdateDomainXML  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> true       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspUpdateDomainXML </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> agent          </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> certUserDBAuthMgr </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.securitydomain.domainxml </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspUpdateDomainXML-admin  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.UpdateDomainXML  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspUpdateDomainXML </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> admin          </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> TokenAuth </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  resourceID  </param-name>
                         <param-value> certServer.securitydomain.domainxml </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspGetCookie  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.GetCookie  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  AuthzMgr    </param-name>
                         <param-value> BasicAclAuthz </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspGetCookie  </param-value> </init-param>
             <init-param><param-name>  AuthMgr     </param-name>
                         <param-value> passwdUserDBAuthMgr </param-value> </init-param>
             <init-param><param-name>  templatePath  </param-name>
                         <param-value> /admin/ocsp/sendCookie.template </param-value> </init-param>
             <init-param><param-name>  errorTemplatePath  </param-name>
                         <param-value> /admin/ocsp/securitydomainlogin.template </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspTokenAuthenticate  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.TokenAuthenticate  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspTokenAuthenticate  </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> ee          </param-value> </init-param>
   </servlet>

   <servlet>
      <servlet-name>  ocspTokenAuthenticate-admin  </servlet-name>
      <servlet-class> com.netscape.cms.servlet.csadmin.TokenAuthenticate  </servlet-class>
             <init-param><param-name>  GetClientCert  </param-name>
                         <param-value> false       </param-value> </init-param>
             <init-param><param-name>  authority   </param-name>
                         <param-value> ocsp        </param-value> </init-param>
             <init-param><param-name>  ID          </param-name>
                         <param-value> ocspTokenAuthenticate  </param-value> </init-param>
             <init-param><param-name>  interface   </param-name>
                         <param-value> admin          </param-value> </init-param>
   </servlet>

   <servlet-mapping>
      <servlet-name>  ocspReadCheckCertPage  </servlet-name>
      <url-pattern>   /agent/ocsp/checkCert.html  </url-pattern>
   </servlet-mapping>
                                                                                
   <servlet-mapping>
      <servlet-name>  ocspindex  </servlet-name>
      <url-pattern>   /agent/index  </url-pattern>
   </servlet-mapping>
                                                                                
   <servlet-mapping>
      <servlet-name>  ocspReadAddCRLPage  </servlet-name>
      <url-pattern>   /agent/ocsp/addCRL.html  </url-pattern>
   </servlet-mapping>
                                                                                
   <servlet-mapping>
      <servlet-name>  ocspReadAddCAPage  </servlet-name>
      <url-pattern>   /agent/ocsp/addCA.html  </url-pattern>
   </servlet-mapping>
                                                                                
   <servlet-mapping>
      <servlet-name>  ocspheader  </servlet-name>
      <url-pattern>   /agent/header  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspOCSP  </servlet-name>
      <url-pattern>   /ee/ocsp  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspOCSP  </servlet-name>
      <url-pattern>   /ee/ocsp/*  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  services </servlet-name>
      <url-pattern>   /services  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspDownloadPKCS12 </servlet-name>
      <url-pattern>   /admin/console/config/savepkcs12 </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspGetStatus  </servlet-name>
      <url-pattern>   /admin/ocsp/getStatus  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspUpdateDomainXML </servlet-name>
      <url-pattern>   /agent/ocsp/updateDomainXML  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspUpdateDomainXML-admin </servlet-name>
      <url-pattern>   /admin/ocsp/updateDomainXML  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspGetCookie </servlet-name>
      <url-pattern>   /admin/ocsp/getCookie  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspTokenAuthenticate </servlet-name>
      <url-pattern>   /ee/ocsp/tokenAuthenticate  </url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>  ocspTokenAuthenticate-admin </servlet-name>
      <url-pattern>   /admin/ocsp/tokenAuthenticate  </url-pattern>
   </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Account Services</web-resource-name>
            <url-pattern>/rest/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Services</web-resource-name>
            <url-pattern>/rest/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Audit</web-resource-name>
            <url-pattern>/rest/audit/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security Domain Services</web-resource-name>
            <url-pattern>/rest/securityDomain/installToken</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Self Tests</web-resource-name>
            <url-pattern>/rest/selftests/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <realm-name>Online Certificate Status Protocol Manager</realm-name>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>

</web-app>

