<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- BEGIN COPYRIGHT BLOCK
     Copyright (C) 2006 Red Hat, Inc.
     All rights reserved.
     END COPYRIGHT BLOCK -->
<web-app>

    <display-name>Token Processing Service</display-name>

    <servlet>
        <servlet-name>tpslog</servlet-name>
        <servlet-class>com.netscape.cms.servlet.admin.TPSLogAdminServlet</servlet-class>
        <init-param>
            <param-name>ID</param-name>
            <param-value>tpslog</param-value> </init-param>
        <init-param>
            <param-name>AuthzMgr</param-name>
            <param-value>BasicAclAuthz</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>tpsGetStatus </servlet-name>
        <servlet-class> com.netscape.cms.servlet.csadmin.TPSGetStatus</servlet-class>
        <init-param>
            <param-name>GetClientCert</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>authority</param-name>
            <param-value>tps</param-value>
        </init-param>
        <init-param>
            <param-name>ID</param-name>
            <param-value>tpsGetStatus</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>tpsGetConfigEntries</servlet-name>
        <servlet-class>com.netscape.cms.servlet.csadmin.TPSGetConfigEntries</servlet-class>
        <init-param>
            <param-name>GetClientCert</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>authority</param-name>
            <param-value>tps</param-value>
        </init-param>
        <init-param>
            <param-name>ID</param-name>
            <param-value>tpsGetConfigEntries</param-value>
        </init-param>
        <init-param>
            <param-name>AuthzMgr</param-name>
            <param-value>BasicAclAuthz</param-value>
        </init-param>
        <init-param>
            <param-name>AuthMgr</param-name>
            <param-value>TokenAuth</param-value>
        </init-param>
        <init-param>
            <param-name>resourceID</param-name>
            <param-value>certServer.clone.configuration.GetConfigEntries</param-value>
        </init-param>
    </servlet>

    <servlet>
     <servlet-name>phoneHome</servlet-name>
     <servlet-class>org.dogtagpki.server.tps.TPSPhoneHome</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>tps</servlet-name>
        <servlet-class>org.dogtagpki.server.tps.TPSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>tpslog</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tpsGetStatus</servlet-name>
        <url-pattern>/admin/tps/getStatus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tpsGetConfigEntries</servlet-name>
        <url-pattern>/admin/tps/getConfigEntries</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>phoneHome</servlet-name>
        <url-pattern>/phoneHome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tps</servlet-name>
        <url-pattern>/tps</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Account Services</web-resource-name>
            <url-pattern>/rest/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Services</web-resource-name>
            <url-pattern>/rest/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Audit</web-resource-name>
            <url-pattern>/rest/audit/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authenticators</web-resource-name>
            <url-pattern>/rest/authenticators/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Configuration</web-resource-name>
            <url-pattern>/rest/config/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Connectors</web-resource-name>
            <url-pattern>/rest/connectors/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Profiles</web-resource-name>
            <url-pattern>/rest/profiles/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Profile Mappings</web-resource-name>
            <url-pattern>/rest/profile-mappings/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Self Tests</web-resource-name>
            <url-pattern>/rest/selftests/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Token Services</web-resource-name>
            <url-pattern>/rest/tokens/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UI</web-resource-name>
            <url-pattern>/ui/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <realm-name>Token Processing Service</realm-name>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>

</web-app>
