# NSS database directory where the CA agent certificate is stored.
dbdir=/root/.dogtag/nssdb

# NSS database password.
password=

# Token name (default is internal).
tokenname=internal

# Nickname for agent certificate.
nickname=caadmin

# Request format: pkcs10 or crmf.
format=pkcs10

# Total number of PKCS10/CRMF requests.
numRequests=1

# Path to the PKCS10/CRMF request.
# The content must be in Base-64 encoded format.
# Multiple files are supported. They must be separated by space.
input=sslserver.csr

# Path for the CMC request.
output=sslserver.cmc-request
