# ACME
RewriteRule ^/acme/login$ /acme/rest/login
RewriteRule ^/acme/logout$ /acme/rest/logout
RewriteRule ^/acme/enable$ /acme/rest/enable
RewriteRule ^/acme/disable$ /acme/rest/disable
RewriteRule ^/acme/directory$ /acme/rest/directory
RewriteRule ^/acme/new-nonce$ /acme/rest/new-nonce
RewriteRule ^/acme/new-account$ /acme/rest/new-account
RewriteRule ^/acme/new-order$ /acme/rest/new-order
RewriteRule ^/acme/authz/(.*)$ /acme/rest/authz/$1
RewriteRule ^/acme/chall/(.*)$ /acme/rest/chall/$1
RewriteRule ^/acme/order/(.*)$ /acme/rest/order/$1
RewriteRule ^/acme/acct/(.*)$ /acme/rest/acct/$1
RewriteRule ^/acme/cert/(.*)$ /acme/rest/cert/$1
RewriteRule ^/acme/revoke-cert$ /acme/rest/revoke-cert

# EST
RewriteRule ^/.well-known/est/(.*)$ /est/$1
