# PKI server host name
host=pki.example.com

# PKI server port number
port=8443

# Use secure connection.
# For secure connection with ECC, set environment variable 'export NSS_USE_DECODED_CKA_EC_POINT=1'.
secure=true

# Use client authentication.
clientmode=true

# NSS database directory where the client certificate is stored
dbdir=/root/.dogtag/nssdb

# NSS database password
password=

# Token name (default: internal)
tokenname=internal

# Nickname of client certificate
nickname=testuser

# CMC servlet path
servlet=/ca/ee/ca/profileSubmitUserSignedCMCFull

# Path for the CMC request
input=testuser.cmc-revocation-request

# Path for the CMC response
output=testuser.cmc-revocation-response
