<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<CMS_TEMPLATE>

<TITLE>
CS Enroll Request Success
</TITLE>

<script type="text/javascript">

function navMajorVersion()
{
    return parseInt(navigator.appVersion.substring(0, navigator.appVersion.indexOf(".")));
}

function toHex(number)
{
    var absValue = "", sign = "";
    var digits = "0123456789abcdef";
    if (number < 0) {
        sign = "-";
        number = -number;
    }
    
    for(; number >= 16 ; number = Math.floor(number/16)) {
        absValue = digits.charAt(number % 16) + absValue;
    }
    absValue = digits.charAt(number % 16) + absValue;

    return sign + '0x' + '0' + absValue;
}

function displayCert(cert)
{
	document.writeln(
		'<font face="PrimaSans BT, Verdana, sans-serif" size="+1">'+
		'Certificate 0x'+cert.serialNo+
		'</font><br>');
	document.writeln(
		'<table border="0" cellspacing="0" cellpadding="0" '+
		'background="/pki/images/hr.gif" width="100%">'+
		'<tr>'+
		'<td>&nbsp;</td>'+
		'</tr>'+
		'</table>');

	document.writeln(
		'<table border="0" cellspacing="2" cellpadding="2" width="100%">'+
		'<tr align="left" bgcolor="#e5e5e5"><td align="left">'+
		'<font face="PrimaSans BT, Verdana, sans-serif" size="-1">'+
		'Certificate contents</font></td></tr></table>'+
		'<pre>'+
		cert.certPrettyPrint+
		'</pre>');

	document.writeln('<p>'+
		'<table border="0" cellspacing="2" cellpadding="2" width="100%">'+
		'<tr align="left" bgcolor="#e5e5e5"><td align="left">'+
		'<font face="PrimaSans BT, Verdana, sans-serif" size="-1">'+
		'Certificate fingerprint</font></td></tr></table>'+
		'<pre>'+
		cert.certFingerprint+
		'</pre>'+
		'</font>');

		document.writeln('<p>'+
		'<table border="0" cellspacing="2" cellpadding="2" width="100%">'+
		'<tr align="left" bgcolor="#e5e5e5"><td align="left">'+
		'<font face="PrimaSans BT, Verdana, sans-serif" size="-1">'+
		'Installing this certificate in a server</font></td></tr></table>'+
		'<p>'+
		'<font size=-1 face="PrimaSans BT, Verdana, sans-serif">'+
		'The following format can be used to install this certificate '+
		'into a server.'+
                '<p>' +
                'Base 64 encoded certificate'+
		'</font>'+
		'<p><pre>'+
		//'-----BEGIN CERTIFICATE-----'+
		cert.base64Cert+
		//'-----END CERTIFICATE-----'+
		'</pre>');
		document.writeln('<font size=-1 face="PrimaSans BT, Verdana, sans-serif">'+
		'<p>'+
		'Base 64 encoded certificate with CA certificate chain in pkcs7 format'+
		'</font>'+
		'<p><pre>'+
		'-----BEGIN CERTIFICATE CHAIN-----');
		document.writeln(cert.pkcs7ChainBase64);
		document.writeln('-----END CERTIFICATE CHAIN-----'+
		'</pre>');

}

function importCertificates(numCerts, requestId)
{
	var grammar = 'this';
	var plural = '';
	if (numCerts > 1) {
		grammar = 'these';
		plural = 's'
	}
	document.writeln( '<p>'+
		'<table border="0" cellspacing="2" cellpadding="2" width="100%">'+
		'<tr align="left" bgcolor="#e5e5e5"><td align="left">'+
		'<font face="PrimaSans BT, Verdana, sans-serif" size="-1">'+
		'Importing certificate</font></td></tr></table>'+
		'<p>'+
		'<font size=-1 face="PrimaSans BT, Verdana, sans-serif">'+
		'To import '+grammar+' certificate'+plural+' into your client, '+
		'click the following button.'+
		'</font>'+
		'<p>');

	var loc = '/ca/getCertFromRequest?requestId='+result.header.requestId;
	if (navigator.appName == "Netscape") {
		if (navMajorVersion() > 3 && typeof(crypto.version) != "undefined") 
			loc = loc+'&cmmfResponse=true';
		else 
			loc = loc + '&importCert=true';
	}

	document.writeln('<center>');
	document.writeln('<form>\n'+
					 '<INPUT TYPE=\"button\" VALUE=\"Import Certificate(s)\"'+
					 ' onClick=\"location.href=\''+ loc + '\'\">\n'+
					 '</form>\n');

	if (navigator.appName == "Netscape" &&
		result.header.emailCert != null &&
		result.header.emailCert == true) {
		var loc1 = '/ca/getCertFromRequest?requestId='+result.header.requestId;
		if (navMajorVersion() > 3 && typeof(crypto.version) != "undefined") {
			loc1 = loc1 + '&cmmfResponse=true';
		}
		else {
			loc1 = loc1 + '&importCert=true&emailCert=true';
		}

		document.write('<form>\n'+
				'<INPUT TYPE=\"button\" VALUE=\"Import S/MIME Certificate\"'+
				' onClick=\"location.href=\''+ loc1 + '\'\">\n'+
				'</form>\n');
	}

	document.writeln('</center>');
}
</script>

<!--BODY bgcolor="white"-->

<body bgcolor="#FFFFFF" link="#6666CC" vlink="#6666CC" alink="#333399">


<SCRIPT type="text/javascript">

if (result.recordSet == null || result.recordSet.length == 0) {
	document.writeln('<BLOCKQUOTE><B><PRE>');
	document.writeln('No further details provided.');
	document.writeln('Please consult your local administrator for assistance.');
	document.writeln('</BLOCKQUOTE></B></PRE>');
} else {
	for (var i = 0; i < result.recordSet.length; i++) {
		if (result.recordSet[i].serialNo != null) {
			displayCert(result.recordSet[i]);
		}
	}
	if (result.header.noCertImport != null &&
		result.header.noCertImport == false) {
		importCertificates(result.recordSet.length, result.header.requestId);
	}

}
document.writeln('<P>');
</SCRIPT>


</BODY>
</HTML>

