<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<CMS_TEMPLATE>

<script type="text/javascript">
function addEscapes(str)
{
    var outStr = str.replace(/</g, "&lt;");
    outStr = outStr.replace(/>/g, "&gt;");
    return outStr;
}

document.writeln('<font size="+1" face="PrimaSans BT, Verdana, sans-serif">Request ');
if (typeof(requestId) != "undefined") {
    document.writeln(requestId);
}
document.writeln('<br></font>');
</script>
<font size="-1" face="PrimaSans BT, Verdana, sans-serif"></font>
<table border="0" cellspacing="0" cellpadding="0" background="/pki/images/hr.gif" width="100%">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<p>

<script type="text/javascript">
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Request Information:</b>');
document.writeln('</FONT>');
document.writeln('<table border=1 width=100%>');
if (typeof(requestId) != "undefined") {
document.writeln('<tr>');
document.writeln('<td width=30%>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Request ID:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<a href="profileReview?requestId=' + requestId + '">');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(requestId);
document.writeln('</FONT>');
document.writeln('</a>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(requestType) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Request Type:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(requestType);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(requestStatus) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Request Status:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(requestStatus);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(profileId) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Certificate Profile Id:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(profileId);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(op) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Operation Requested:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(op);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(errorCode) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Error Code:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(errorCode);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
if (typeof(errorReason) != "undefined") {
document.writeln('<tr>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln('<b>Error Reason:</b>');
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('<td>');
document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">');
document.writeln(errorReason);
document.writeln('</FONT>');
document.writeln('</td>');
document.writeln('</tr>');
}
document.writeln('</table>');
document.writeln('<p>');
document.writeln('</table>');
if (typeof(requestStatus) != "undefined" && requestStatus == 'complete') {
  document.writeln('<table width=100%>');
for (var i = 0; i < outputListSet.length; i++) {
    document.writeln('<tr valign=top>');
    document.writeln('<td>');
    document.writeln('<FONT size="-1" face="PrimaSans BT, Verdana, sans-serif">'
);
    document.writeln('<li>');
    document.writeln(outputListSet[i].outputName);
    document.writeln('</FONT>');
    document.writeln('</td>');
    document.writeln('<tr valign=top>');
    document.writeln('</tr>');
    document.writeln('<td>');
    if (outputListSet[i].outputSyntax == 'string') {
      document.writeln(addEscapes(outputListSet[i].outputVal));
    } else if (outputListSet[i].outputSyntax == 'pretty_print') {
      document.writeln('<pre>');
      document.writeln(addEscapes(outputListSet[i].outputVal));
      document.writeln('</pre>');
    }
    document.writeln('</td>');
    document.writeln('</tr>');
}
   document.writeln('</table>');
}
</script>
</html>
