<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<SCRIPT type="text/JavaScript">
function myOnLoad() {
}

function performPanel() {
    with (document.forms[0]) {
        submit();
    }
}
</SCRIPT>
Please provide information to an existing Fedora Directory Server that can be used as the internal database for this instance. <a href="javascript:toggle_details();">[Details]</a>
<SCRIPT type="text/JavaScript">
function toggle_details()
{
  d = document.getElementById('details');
  if (d.style.display == "block") {
    d.style.display="none";
  } else {
    d.style.display="block";
  }
}
</script>
<div id=details style="display: none;">
<p>
Each instance needs access to a Fedora Directory Server instance to store requests and records. Each PKI instance may create its own associated internal database, or may share an existing internal database. To share an existing internal database instance, a PKI instance would only need to establish a unique distinguished name (DN) using the field entitled <b>Base DN</b> and a unique database name using the field entitled <b>Database</b>. 
</div>
<p>
<i>Note: If the Fedora Directory Server is at a remote host, it is highly recommended that SSL should be used.</i>
<br/>
#if ($errorString != "")
<img src="/pki/images/icon_crit_update.gif">&nbsp;<font color="red">$errorString</font>
#end
<br/>                                                                            

    <table class="details">
      <tr>
        <th>Host:</th>
        <td><input type="text" size="40" name="host" value="$hostname" /></td>
      </tr>
            
      <tr>
        <th>Port:</th>
                                
        <td><input type="text" size="40" name="port" value="$portStr" />  
<input type="CHECKBOX" NAME="secureConn" value="true">SSL
</td>
      </tr>       
      <tr>
        <th>Base DN:</th>
        <td><input type="text" size="40" name="basedn" value="$basedn" /></td>
      </tr>
      <tr>
        <th>Database:</th>

        <td><input type="text" size="40" name="database" value="$database"  /></td>
      </tr>
      <tr>
        <th>Bind DN:</th>
        <td><input type="text" size="40" name="binddn" value="$binddn" /></td>
      </tr>
      <tr>
        <th>Bind Password:</th>

        <td><input type="password" size="40" name="__bindpwd" value="$bindpwd" autocomplete="off" /></td>
      </tr>
    </table>
        <input type="hidden" name="display" value=$displayStr />
 
#if ($firsttime == 'false')
<input type="CHECKBOX" NAME="removeData">Remove the existing data from the <b>Base DN</b> shown above.<p>
#end

    <div align="right">
      <hr />
      &nbsp;
    </div>
