<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<SCRIPT type="text/JavaScript">
function myOnLoad() {
}

function performPanel() {
    with (document.forms[0]) {
        submit();
    }
}
</SCRIPT>
<input type="hidden" name="host" value=$host />
<input type="hidden" name="port" value=$port />
<input type="hidden" name="systemType" value=$systemType />
#if ($errorString != "")
<img src="/pki/images/icon_crit_update.gif">&nbsp;<font color="red">$errorString</font>
#end
As 'root', restart the server on the command line by typing "$restartCommand". After performing this restart, the server should become operational.
<br/>
Please go to the <A href="https://$host:$non_clientauth_port">services page</A> to access all of the available interfaces.
<br/>
Each Enterprise Security Client (ESC) talks to a TPS config URL for token management functions located at <A href="http://$host:$unsecurePort/cgi-bin/home/index.cgi">http://$host:$unsecurePort/cgi-bin/home/index.cgi</A>.
<br/>
<br/>
To create additional instances, type "/usr/bin/pkicreate" on the command line.
<br/>
#if ($systemType != "tps")
To start the administration console, type "/usr/bin/pkiconsole" on the command line.
#end
