name: ACME Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  acme-certbot-test:
    name: ACME with certbot
    needs: [init, build]
    uses: ./.github/workflows/acme-certbot-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  acme-switchover-test:
    name: ACME server switchover
    needs: [init, build]
    uses: ./.github/workflows/acme-switchover-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  acme-container-test:
    name: ACME container
    needs: [init, build]
    uses: ./.github/workflows/acme-container-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  acme-postgresql-test:
    name: ACME with postgresql back-end
    needs: [init, build]
    uses: ./.github/workflows/acme-postgresql-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}
