name: Basic CA container

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  # https://github.com/dogtagpki/pki/wiki/Deploying-CA-Container
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update

          # replace docker with podman
          sudo apt-get -y purge --auto-remove docker-ce-cli
          sudo apt-get -y install podman-docker

      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Create network
        run: docker network create example

      - name: Create shared folders
        run: |
          mkdir certs
          mkdir conf
          mkdir logs

      - name: Set up client container
        run: |
          tests/bin/runner-init.sh \
              --hostname=client.example.com \
              --network=example \
              client

          # get Fedora version
          FEDORA_VERSION=$(docker exec client sed -n 's/^VERSION_ID=//p' /etc/os-release)
          echo "FEDORA_VERSION=$FEDORA_VERSION" >> $GITHUB_ENV

      - name: Set up CA container
        run: |
          docker run \
              --name ca \
              --hostname ca.example.com \
              --network example \
              --network-alias ca.example.com \
              -v $PWD/certs:/certs \
              -v $PWD/conf:/conf \
              -v $PWD/logs:/logs \
              -e PKI_DS_URL=ldap://ds.example.com:3389 \
              -e PKI_DS_PASSWORD=Secret.123 \
              --detach \
              pki-ca

          # wait for CA to start
          docker exec client curl \
              --retry 180 \
              --retry-delay 0 \
              --retry-connrefused \
              -s \
              -k \
              -o /dev/null \
              https://ca.example.com:8443

      - name: Check conf dir
        if: always()
        run: |
          ls -l conf \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\S* *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3/' \
              | tee output

          # everything should be owned by runner group
          # TODO: review owners/permissions
          cat > expected << EOF
          drwxrwxrwx runner Catalina
          drwxrwxrwx runner alias
          drwxrwxrwx runner ca
          -rw-rw-rw- runner catalina.policy
          lrwxrwxrwx runner catalina.properties -> /usr/share/pki/server/conf/catalina.properties
          drwxrwxrwx runner certs
          lrwxrwxrwx runner context.xml -> /etc/tomcat/context.xml
          -rw-rw-rw- runner jss.conf
          lrwxrwxrwx runner logging.properties -> /usr/share/pki/server/conf/logging.properties
          -rw-rw-rw- runner password.conf
          -rw-rw-rw- runner server.xml
          -rw-rw-rw- runner serverCertNick.conf
          -rw-rw-rw- runner tomcat.conf
          lrwxrwxrwx runner web.xml -> /etc/tomcat/web.xml
          EOF

          diff expected output

      - name: Check conf/ca dir
        if: always()
        run: |
          ls -l conf/ca \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\S* *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3/' \
                  -e '/^\S* *\S* *\S* *CS.cfg.bak /d' \
              | tee output

          # everything should be owned by runner group
          # TODO: review owners/permissions
          cat > expected << EOF
          -rw-rw---- runner CS.cfg
          -rw-rw-rw- runner adminCert.profile
          drwxrwxrwx runner archives
          -rw-rw-rw- runner caAuditSigningCert.profile
          -rw-rw-rw- runner caCert.profile
          -rw-rw-rw- runner caOCSPCert.profile
          drwxrwxrwx runner emails
          -rw-rw-rw- runner flatfile.txt
          drwxrwxrwx runner profiles
          -rw-rw-rw- runner proxy.conf
          -rw-rw---- runner registry.cfg
          -rw-rw-rw- runner serverCert.profile
          -rw-rw-rw- runner subsystemCert.profile
          EOF

          diff expected output

      - name: Check logs dir
        if: ${{ fromJSON(env.FEDORA_VERSION) < 43 }}
        run: |
          ls -l logs \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\S* *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3/' \
              | tee output

          DATE=$(date +'%Y-%m-%d')

          # everything should be owned by runner group
          # TODO: review owners/permissions
          cat > expected << EOF
          drwxrwxrwx runner backup
          drwxrwxrwx runner ca
          -rw-rw-rw- runner localhost.$DATE.log
          -rw-rw-rw- runner localhost_access_log.$DATE.txt
          drwxrwxrwx runner pki
          EOF

          diff expected output

      - name: Check logs dir
        if: ${{ fromJSON(env.FEDORA_VERSION) >= 43 }}
        run: |
          ls -l logs \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\S* *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3/' \
              | tee output

          DATE=$(date +'%Y-%m-%d')

          # everything should be owned by runner group
          # TODO: review owners/permissions
          cat > expected << EOF
          drwxrwxrwx runner backup
          drwxrwxrwx runner ca
          -rw-rw-rw- runner localhost_access_log.$DATE.txt
          EOF

          diff expected output

      - name: Check CA info
        run: |
          docker exec ca pki-server cert-export \
              --cert-file /conf/certs/ca_signing.crt \
              ca_signing

          docker exec client pki nss-cert-import \
              --cert $SHARED/conf/certs/ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          docker exec client pki \
              -U https://ca.example.com:8443 \
              info

      - name: Set up DS container
        run: |
          tests/bin/ds-create.sh \
              --image=${{ env.DS_IMAGE }} \
              --hostname=ds.example.com \
              --network=example \
              --network-alias=ds.example.com \
              --password=Secret.123 \
              ds

      # https://github.com/dogtagpki/pki/wiki/Setting-up-CA-Database
      - name: Initialize CA database
        run: |
          docker exec ca pki-server ca-db-init -v
          docker exec ca pki-server ca-db-index-add -v
          docker exec ca pki-server ca-db-index-rebuild -v

      - name: Import CA signing cert into CA database
        run: |
          docker exec ca pki-server cert-export \
              --cert-file /conf/certs/ca_signing.crt \
              ca_signing

          docker exec ca pki-server ca-cert-import \
              --cert /conf/certs/ca_signing.crt \
              --csr /conf/certs/ca_signing.csr \
              --profile /usr/share/pki/ca/conf/caCert.profile

      - name: Import CA OCSP signing cert into CA database
        run: |
          docker exec ca pki-server cert-export \
              --cert-file /conf/certs/ca_ocsp_signing.crt \
              ca_ocsp_signing

          docker exec ca pki-server ca-cert-import \
              --cert /conf/certs/ca_ocsp_signing.crt \
              --csr /conf/certs/ca_ocsp_signing.csr \
              --profile /usr/share/pki/ca/conf/caOCSPCert.profile

      - name: Import subsystem cert into CA database
        run: |
          docker exec ca pki-server cert-export \
              --cert-file /conf/certs/subsystem.crt \
              subsystem

          docker exec ca pki-server ca-cert-import \
              --cert /conf/certs/subsystem.crt \
              --csr /conf/certs/subsystem.csr \
              --profile /usr/share/pki/ca/conf/rsaSubsystemCert.profile

      - name: Import SSL server cert into CA database
        run: |
          docker exec ca pki-server cert-export \
              --cert-file /conf/certs/sslserver.crt \
              sslserver

          docker exec ca pki-server ca-cert-import \
              --cert /conf/certs/sslserver.crt \
              --csr /conf/certs/sslserver.csr \
              --profile /usr/share/pki/ca/conf/rsaServerCert.profile

      - name: Create admin cert
        run: |
          # create cert request
          docker exec client pki nss-cert-request \
              --subject "CN=Administrator" \
              --ext /usr/share/pki/server/certs/admin.conf \
              --csr $SHARED/admin.csr

          docker cp admin.csr ca:.

          # issue cert
          docker exec ca pki-server ca-cert-create \
              --csr admin.csr \
              --profile /usr/share/pki/ca/conf/rsaAdminCert.profile \
              --cert /tmp/admin.crt \
              --import-cert

          docker cp ca:/tmp/admin.crt .

          # import cert
          docker exec client pki nss-cert-import \
              --cert $SHARED/admin.crt \
              admin

      - name: Check certs in CA
        run: |
          docker exec client pki \
              -U https://ca.example.com:8443 \
              ca-cert-find

      # https://github.com/dogtagpki/pki/wiki/Setting-up-CA-Admin-User
      - name: Add CA admin user
        run: |
          # create CA admin user
          docker exec ca pki-server ca-user-add \
              --full-name Administrator \
              --type adminType \
              --cert /tmp/admin.crt \
              admin

          # add CA admin user into CA groups
          docker exec ca pki-server ca-user-role-add admin "Administrators"
          docker exec ca pki-server ca-user-role-add admin "Certificate Manager Agents"

      - name: Check CA admin user
        run: |
          docker exec client pki \
              -U https://ca.example.com:8443 \
              -n admin \
              ca-user-show \
              admin

      - name: Check cert enrollment
        run: |
          # create cert request
          docker exec client pki \
              -U https://ca.example.com:8443 \
              client-cert-request \
              uid=testuser | tee output

          REQUEST_ID=$(sed -n -e 's/^ *Request ID: *\(.*\)$/\1/p' output)
          echo "REQUEST_ID: $REQUEST_ID"

          # issue cert
          docker exec client pki \
              -U https://ca.example.com:8443 \
              -n admin \
              ca-cert-request-approve \
              $REQUEST_ID \
              --force

      - name: Restart CA
        run: |
          docker restart ca
          sleep 10

          docker network reload --all

          # wait for CA to restart
          docker exec client curl \
              --retry 180 \
              --retry-delay 0 \
              --retry-connrefused \
              -s \
              -k \
              -o /dev/null \
              https://ca.example.com:8443

      - name: Check CA admin user again
        run: |
          docker exec client pki \
              -U https://ca.example.com:8443 \
              -n admin \
              ca-user-show \
              admin

      - name: Check DS server systemd journal
        if: always()
        run: |
          docker exec ds journalctl -x --no-pager -u dirsrv@localhost.service

      - name: Check DS container logs
        if: always()
        run: |
          docker logs ds

      - name: Check CA container logs
        if: always()
        run: |
          docker logs ca 2>&1

      - name: Check CA debug logs
        if: always()
        run: |
          docker exec ca find /var/lib/pki/pki-tomcat/logs/ca -name "debug.*" -exec cat {} \;
