name: CA with existing certs

on: workflow_call

env:
  DB_IMAGE: ${{ vars.DB_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  # docs/installation/ca/Installing_CA_with_Existing_Keys_in_Internal_Token.md
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Create network
        run: docker network create example

      - name: Set up DS container
        run: |
          tests/bin/ds-container-create.sh ds
        env:
          IMAGE: ${{ env.DB_IMAGE }}
          HOSTNAME: ds.example.com
          PASSWORD: Secret.123

      - name: Connect DS container to network
        run: docker network connect example ds --alias ds.example.com

      - name: Set up PKI container
        run: |
          tests/bin/runner-init.sh pki
        env:
          HOSTNAME: pki.example.com

      - name: Connect PKI container to network
        run: docker network connect example pki --alias pki.example.com

      - name: Create CA signing cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=CA Signing Certificate" \
              --ext /usr/share/pki/server/certs/ca_signing.conf \
              --csr ca_signing.csr
          docker exec pki pki \
              nss-cert-issue \
              --csr ca_signing.csr \
              --ext /usr/share/pki/server/certs/ca_signing.conf \
              --cert ca_signing.crt
          docker exec pki pki \
              nss-cert-import \
              --cert ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          # check original cert
          docker exec pki pki \
              nss-cert-show \
              ca_signing | tee ca_signing.crt.before

          # check original key
          docker exec pki pki \
              nss-key-find \
              --nickname ca_signing | tee ca_signing.key.before

      - name: Create CA OCSP signing cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=OCSP Signing Certificate" \
              --ext /usr/share/pki/server/certs/ocsp_signing.conf \
              --csr ca_ocsp_signing.csr
          docker exec pki pki \
              nss-cert-issue \
              --issuer ca_signing \
              --csr ca_ocsp_signing.csr \
              --ext /usr/share/pki/server/certs/ocsp_signing.conf \
              --cert ca_ocsp_signing.crt
          docker exec pki pki \
              nss-cert-import \
              --cert ca_ocsp_signing.crt \
              ca_ocsp_signing

          # check original cert
          docker exec pki pki \
              nss-cert-show \
              ca_ocsp_signing | tee ca_ocsp_signing.crt.before

          # check original key
          docker exec pki pki \
              nss-key-find \
              --nickname ca_ocsp_signing | tee ca_ocsp_signing.key.before

      - name: Create CA audit signing cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=Audit Signing Certificate" \
              --ext /usr/share/pki/server/certs/audit_signing.conf \
              --csr ca_audit_signing.csr
          docker exec pki pki \
              nss-cert-issue \
              --issuer ca_signing \
              --csr ca_audit_signing.csr \
              --ext /usr/share/pki/server/certs/audit_signing.conf \
              --cert ca_audit_signing.crt
          docker exec pki pki \
              nss-cert-import \
              --cert ca_audit_signing.crt \
              --trust ,,P \
              ca_audit_signing

          # check original cert
          docker exec pki pki \
              nss-cert-show \
              ca_audit_signing | tee ca_audit_signing.crt.before

          # check original key
          docker exec pki pki \
              nss-key-find \
              --nickname ca_audit_signing | tee ca_audit_signing.key.before

      - name: Create subsystem cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=Subsystem Certificate" \
              --ext /usr/share/pki/server/certs/subsystem.conf \
              --csr subsystem.csr
          docker exec pki pki \
              nss-cert-issue \
              --issuer ca_signing \
              --csr subsystem.csr \
              --ext /usr/share/pki/server/certs/subsystem.conf \
              --cert subsystem.crt
          docker exec pki pki \
              nss-cert-import \
              --cert subsystem.crt \
              subsystem

          # check original cert
          docker exec pki pki \
              nss-cert-show \
              subsystem | tee subsystem.crt.before

          # check original key
          docker exec pki pki \
              nss-key-find \
              --nickname subsystem | tee subsystem.key.before

      - name: Create SSL server cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=pki.example.com" \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --csr sslserver.csr
          docker exec pki pki \
              nss-cert-issue \
              --issuer ca_signing \
              --csr sslserver.csr \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --cert sslserver.crt
          docker exec pki pki \
              nss-cert-import \
              --cert sslserver.crt \
              sslserver

          # check original cert
          docker exec pki pki \
              nss-cert-show \
              sslserver | tee sslserver.crt.before

          # check original key
          docker exec pki pki \
              nss-key-find \
              --nickname sslserver | tee sslserver.key.before

      - name: Create admin cert
        run: |
          docker exec pki pki \
              nss-cert-request \
              --subject "CN=Administrator" \
              --ext /usr/share/pki/server/certs/admin.conf \
              --csr admin.csr
          docker exec pki pki \
              nss-cert-issue \
              --issuer ca_signing \
              --csr admin.csr \
              --ext /usr/share/pki/server/certs/admin.conf \
              --cert admin.crt
          docker exec pki pki \
              nss-cert-import \
              --cert admin.crt \
              caadmin
          docker exec pki pki \
              nss-cert-show \
              caadmin

      - name: Export system certs
        run: |
          docker exec pki pki \
              pkcs12-export \
              --pkcs12 ca-certs.p12 \
              --password Secret.123 \
              ca_signing \
              ca_ocsp_signing \
              ca_audit_signing \
              subsystem \
              sslserver
          docker exec pki pki \
              pkcs12-cert-find \
              --pkcs12 ca-certs.p12 \
              --password Secret.123

      - name: Install CA with existing certs
        run: |
          docker exec pki pkispawn \
              -f /usr/share/pki/server/examples/installation/ca.cfg \
              -s CA \
              -D pki_ds_url=ldap://ds.example.com:3389 \
              -D pki_external=True \
              -D pki_external_step_two=False \
              -v
          sleep 1  # avoid pkispawn log conflict due to identical timestamps
          docker exec pki pkispawn \
              -f /usr/share/pki/server/examples/installation/ca.cfg \
              -s CA \
              -D pki_ds_url=ldap://ds.example.com:3389 \
              -D pki_external=True \
              -D pki_external_step_two=True \
              -D pki_pkcs12_path=ca-certs.p12 \
              -D pki_pkcs12_password=Secret.123 \
              -D pki_ca_signing_csr_path=ca_signing.csr \
              -D pki_ocsp_signing_csr_path=ca_ocsp_signing.csr \
              -D pki_audit_signing_csr_path=ca_audit_signing.csr \
              -D pki_subsystem_csr_path=subsystem.csr \
              -D pki_sslserver_csr_path=sslserver.csr \
              -D pki_admin_cert_path=admin.crt \
              -D pki_admin_csr_path=admin.csr \
              -v

      - name: Run PKI healthcheck
        run: docker exec pki pki-healthcheck --failures-only

      - name: Check CA signing cert
        run: |
          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-cert-show \
              ca_signing | tee ca_signing.crt.after

          # cert should not change
          diff ca_signing.crt.before ca_signing.crt.after

          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-key-find \
              --nickname ca_signing | tee ca_signing.key.after

          # key should not change
          diff ca_signing.key.before ca_signing.key.after

      - name: Check CA OCSP signing cert
        run: |
          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-cert-show \
              ca_ocsp_signing | tee ca_ocsp_signing.crt.after

          # cert should not change
          diff ca_ocsp_signing.crt.before ca_ocsp_signing.crt.after

          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-key-find \
              --nickname ca_ocsp_signing | tee ca_ocsp_signing.key.after

          # key should not change
          diff ca_ocsp_signing.key.before ca_ocsp_signing.key.after

      - name: Check CA audit signing cert
        run: |
          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-cert-show \
              ca_audit_signing | tee ca_audit_signing.crt.after

          # cert should not change
          diff ca_audit_signing.crt.before ca_audit_signing.crt.after

          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-key-find \
              --nickname ca_audit_signing | tee ca_audit_signing.key.after

          # key should not change
          diff ca_audit_signing.key.before ca_audit_signing.key.after

      - name: Check subsystem cert
        run: |
          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-cert-show \
              subsystem | tee subsystem.crt.after

          # cert should not change
          diff subsystem.crt.before subsystem.crt.after

          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-key-find \
              --nickname subsystem | tee subsystem.key.after

          # key should not change
          diff subsystem.key.before subsystem.key.after

      - name: Check SSL server cert
        run: |
          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-cert-show \
              sslserver | tee sslserver.crt.after

          # cert should not change
          diff sslserver.crt.before sslserver.crt.after

          docker exec pki pki \
              -d /etc/pki/pki-tomcat/alias \
              -f /etc/pki/pki-tomcat/password.conf \
              nss-key-find \
              --nickname sslserver | tee sslserver.key.after

          # key should not change
          diff sslserver.key.before sslserver.key.after

      - name: Check CA admin cert
        run: |
          docker exec pki pki -n caadmin ca-user-show caadmin

      - name: Check CA certs and requests
        run: |
          docker exec pki pki ca-cert-find
          docker exec pki pki -n caadmin ca-cert-request-find

      - name: Remove CA
        run: docker exec pki pkidestroy -i pki-tomcat -s CA -v

      - name: Check PKI server systemd journal
        if: always()
        run: |
          docker exec pki journalctl -x --no-pager -u pki-tomcatd@pki-tomcat.service

      - name: Check CA debug log
        if: always()
        run: |
          docker exec pki find /var/log/pki/pki-tomcat/ca -name "debug.*" -exec cat {} \;

      - name: Gather artifacts
        if: always()
        run: |
          tests/bin/ds-artifacts-save.sh ds
          tests/bin/pki-artifacts-save.sh pki
        continue-on-error: true

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ca-existing-certs
          path: /tmp/artifacts
