name: CA with Nuxwdog and HSM

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  # docs/installation/ca/Installing_CA_with_HSM.md
  # docs/admin/Nuxwdog.md
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Create network
        run: docker network create example

      - name: Set up DS container
        run: |
          tests/bin/ds-create.sh \
              --image=${{ env.DS_IMAGE }} \
              --hostname=ds.example.com \
              --network=example \
              --network-alias=ds.example.com \
              --password=Secret.123 \
              ds

      - name: Set up PKI container
        run: |
          tests/bin/runner-init.sh \
              --hostname=pki.example.com \
              --network=example \
              --network-alias=pki.example.com \
              pki

      - name: Install dependencies
        run: |
          docker exec pki dnf install -y softhsm

      - name: Create SoftHSM token
        run: |
          # allow PKI user to access SoftHSM files
          docker exec pki usermod pkiuser -a -G ods

          # create SoftHSM token for PKI server
          docker exec pki runuser -u pkiuser -- \
              softhsm2-util \
              --init-token \
              --label HSM \
              --so-pin Secret.HSM \
              --pin Secret.HSM \
              --free

          docker exec pki ls -laR /var/lib/softhsm/tokens

      - name: Install CA with HSM
        run: |
          docker exec pki pkispawn \
              -f /usr/share/pki/server/examples/installation/ca.cfg \
              -s CA \
              -D pki_ds_url=ldap://ds.example.com:3389 \
              -D pki_hsm_enable=True \
              -D pki_token_name=HSM \
              -D pki_token_password=Secret.HSM \
              -D pki_server_database_password=Secret.123 \
              -D pki_ca_signing_token=HSM \
              -D pki_ocsp_signing_token=HSM \
              -D pki_audit_signing_token=HSM \
              -D pki_subsystem_token=HSM \
              -D pki_sslserver_token=internal \
              -v

      - name: Check sysconfig file
        if: always()
        run: |
          docker exec pki cat /etc/sysconfig/pki-tomcat

      - name: Check pki-tomcatd.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          cat > expected << EOF
          lrwxrwxrwx root root pki-tomcatd@pki-tomcat.service -> /usr/lib/systemd/system/pki-tomcatd@.service
          EOF

          diff expected output

      - name: Check pki-tomcatd-nuxwdog.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd-nuxwdog.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          diff /dev/null output

      - name: Check server.xml
        if: always()
        run: |
          docker exec pki cat /etc/pki/pki-tomcat/server.xml

      - name: Check CA config
        if: always()
        run: |
          docker exec pki pki-server ca-config-find | grep passwordClass | tee output

      - name: Check system certs in internal token
        run: |
          # there should be 5 certs
          echo "5" > expected
          docker exec pki pki \
              -d /var/lib/pki/pki-tomcat/conf/alias \
              nss-cert-find | tee output
          grep "Serial Number:" output | wc -l > actual
          diff expected actual

      - name: Check system certs in HSM
        run: |
          echo Secret.HSM > password.txt
          echo "4" > expected
          docker exec pki pki \
              -d /var/lib/pki/pki-tomcat/conf/alias \
              -C ${SHARED}/password.txt \
              --token HSM \
              nss-cert-find | tee output
          grep "Serial Number:" output | wc -l > actual
          diff expected actual

      - name: Run PKI healthcheck
        run: docker exec pki pki-healthcheck --failures-only

      - name: Check CA
        run: |
          docker exec pki pki-server cert-export ca_signing --cert-file ca_signing.crt

          docker exec pki pki nss-cert-import \
              --cert ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          docker exec pki pki info

          docker exec pki pki pkcs12-import \
              --pkcs12 /root/.dogtag/pki-tomcat/ca_admin_cert.p12 \
              --pkcs12-password Secret.123

          docker exec pki pki -n caadmin ca-user-show caadmin

      - name: Stop CA
        run: |
          docker exec pki pki-server stop --wait -v

      # docs/admin/Nuxwdog.md
      - name: Enable Nuxwdog
        run: |
          docker exec pki ls -l /var/lib/pki/pki-tomcat/conf/password.conf
          docker exec pki cat /var/lib/pki/pki-tomcat/conf/password.conf

          echo "Importing internal password into keyring"
          docker exec pki grep '^internal=' /var/lib/pki/pki-tomcat/conf/password.conf \
              | cut -d= -f2 \
              | docker exec -i pki runuser -u pkiuser -- \
                  keyctl padd user pki-tomcat/internal @u

          echo "Importing HSM token password into keyring"
          docker exec pki grep '^hardware-HSM=' /var/lib/pki/pki-tomcat/conf/password.conf \
              | cut -d= -f2 \
              | docker exec -i pki runuser -u pkiuser -- \
                  keyctl padd user pki-tomcat/HSM @u

          echo "Importing internal database password into keyring"
          docker exec pki grep '^internaldb=' /var/lib/pki/pki-tomcat/conf/password.conf \
              | cut -d= -f2 \
              | docker exec -i pki runuser -u pkiuser -- \
                  keyctl padd user pki-tomcat/internaldb @u

          echo "Importing replication database password into keyring"
          docker exec pki grep '^replicationdb=' /var/lib/pki/pki-tomcat/conf/password.conf \
              | cut -d= -f2 \
              | docker exec -i pki runuser -u pkiuser -- \
                  keyctl padd user pki-tomcat/replicationdb @u

          echo "Checking user keyring"
          docker exec pki runuser -u pkiuser -- keyctl show @u

          echo "Linking user keyring to session keyring"
          docker exec pki runuser -u pkiuser -- keyctl link @u @s

          echo "Removing password.conf"
          docker exec pki rm -f /var/lib/pki/pki-tomcat/conf/password.conf

          docker exec pki pki-server nuxwdog-enable

      - name: Check sysconfig file
        if: always()
        run: |
          docker exec pki cat /etc/sysconfig/pki-tomcat

      - name: Check pki-tomcatd.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          diff /dev/null output

      - name: Check pki-tomcatd-nuxwdog.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd-nuxwdog.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          cat > expected << EOF
          lrwxrwxrwx root root pki-tomcatd-nuxwdog@pki-tomcat.service -> /lib/systemd/system/pki-tomcatd-nuxwdog@.service
          EOF

          diff expected output

      - name: Check server.xml
        if: always()
        run: |
          docker exec pki cat /etc/pki/pki-tomcat/server.xml

      - name: Check CA config
        if: always()
        run: |
          docker exec pki pki-server ca-config-find | grep passwordClass | tee output

      - name: Start CA with Nuxwdog
        run: |
          docker exec pki systemctl start pki-tomcatd-nuxwdog@pki-tomcat.service

          # wait for server to start
          docker exec pki curl \
              --retry 60 \
              --retry-delay 0 \
              --retry-connrefused \
              -s \
              -k \
              -o /dev/null \
              https://pki.example.com:8443

      - name: Check CA with Nuxwdog
        run: |
          docker exec pki pki info
          docker exec pki pki -n caadmin ca-user-show caadmin

      - name: Stop CA with Nuxwdog
        run: |
          docker exec pki systemctl stop pki-tomcatd-nuxwdog@pki-tomcat.service

      # docs/admin/Nuxwdog.md
      - name: Disable Nuxwdog
        run: |
          docker exec pki pki-server nuxwdog-disable

          echo "Restoring password.conf"
          docker exec pki touch /var/lib/pki/pki-tomcat/conf/password.conf
          docker exec pki chown pkiuser:pkiuser /var/lib/pki/pki-tomcat/conf/password.conf
          docker exec pki chmod ug=rw,o= /var/lib/pki/pki-tomcat/conf/password.conf
          docker exec pki ls -l /var/lib/pki/pki-tomcat/conf/password.conf

          echo "Checking user keyring"
          docker exec pki runuser -u pkiuser -- keyctl show @u

          echo "Exporting internal password from keyring"
          KEY_ID=$(docker exec pki runuser -u pkiuser -- keyctl search @u user pki-tomcat/internal)
          echo "KEY_ID: $KEY_ID"
          KEY=$(docker exec pki runuser -u pkiuser -- keyctl pipe $KEY_ID)
          echo "internal=$KEY" \
              | docker exec -i pki \
                  tee -a /var/lib/pki/pki-tomcat/conf/password.conf

          KEY_ID=$(docker exec pki runuser -u pkiuser -- keyctl search @u user pki-tomcat/HSM)
          KEY=$(docker exec pki runuser -u pkiuser -- keyctl pipe $KEY_ID)
          echo "hardware-HSM=$KEY" \
              | docker exec -i pki \
                  tee -a /var/lib/pki/pki-tomcat/conf/password.conf

          echo "Exporting internal database password from keyring"
          KEY_ID=$(docker exec pki runuser -u pkiuser -- keyctl search @u user pki-tomcat/internaldb)
          KEY=$(docker exec pki runuser -u pkiuser -- keyctl pipe $KEY_ID)
          echo "internaldb=$KEY" \
              | docker exec -i pki \
                  tee -a /var/lib/pki/pki-tomcat/conf/password.conf

          echo "Exporting replication database password from keyring"
          KEY_ID=$(docker exec pki runuser -u pkiuser -- keyctl search @u user pki-tomcat/replicationdb)
          KEY=$(docker exec pki runuser -u pkiuser -- keyctl pipe $KEY_ID)
          echo "replicationdb=$KEY" \
              | docker exec -i pki \
                  tee -a /var/lib/pki/pki-tomcat/conf/password.conf

          echo "Clearing user keyring"
          docker exec pki runuser -u pkiuser -- keyctl clear @u
          docker exec pki runuser -u pkiuser -- keyctl show @u

      - name: Check sysconfig file
        if: always()
        run: |
          docker exec pki cat /etc/sysconfig/pki-tomcat

      - name: Check pki-tomcatd.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          # TODO: ensure the old and new links are consistent
          cat > expected << EOF
          lrwxrwxrwx root root pki-tomcatd@pki-tomcat.service -> /lib/systemd/system/pki-tomcatd@.service
          EOF

          diff expected output

      - name: Check pki-tomcatd-nuxwdog.target.wants
        if: always()
        run: |
          # check file types, owners, and permissions
          docker exec pki ls -l /etc/systemd/system/pki-tomcatd-nuxwdog.target.wants \
              | sed \
                  -e '/^total/d' \
                  -e 's/^\(\S*\) *\S* *\(\S*\) *\(\S*\) *\S* *\S* *\S* *\S* *\(.*\)$/\1 \2 \3 \4/' \
              | tee output

          diff /dev/null output

      - name: Check server.xml
        if: always()
        run: |
          docker exec pki cat /etc/pki/pki-tomcat/server.xml

      - name: Check CA config
        if: always()
        run: |
          docker exec pki pki-server ca-config-find | grep passwordClass | tee output

      - name: Start CA
        run: |
          docker exec pki pki-server start --wait -v

      - name: Check CA again
        run: |
          docker exec pki pki info
          docker exec pki pki -n caadmin ca-user-show caadmin

      - name: Remove CA
        run: docker exec pki pkidestroy -s CA -v

      - name: Remove SoftHSM token
        run: |
          docker exec pki ls -laR /var/lib/softhsm/tokens
          docker exec pki runuser -u pkiuser -- softhsm2-util --delete-token --token HSM

      - name: Check DS server systemd journal
        if: always()
        run: |
          docker exec ds journalctl -x --no-pager -u dirsrv@localhost.service

      - name: Check DS container logs
        if: always()
        run: |
          docker logs ds

      - name: Check pki-tomcatd systemd journal
        if: always()
        run: |
          docker exec pki journalctl -x --no-pager -u pki-tomcatd@pki-tomcat.service

      - name: Check pki-tomcatd-nuxwdog systemd journal
        if: always()
        run: |
          docker exec pki journalctl -x --no-pager -u pki-tomcatd-nuxwdog@pki-tomcat.service

      - name: Check CA debug log
        if: always()
        run: |
          docker exec pki find /var/lib/pki/pki-tomcat/logs/ca -name "debug.*" -exec cat {} \;
