name: CA Tests

on: [push, pull_request]

jobs:
  build:
    name: Waiting for build
    uses: ./.github/workflows/wait-for-build.yml
    secrets: inherit

  ca-basic-test:
    name: Basic CA
    needs: build
    uses: ./.github/workflows/ca-basic-test.yml

  ca-ecc-test:
    name: CA with ECC
    needs: build
    uses: ./.github/workflows/ca-ecc-test.yml

  ca-mldsa-test:
    name: CA with ML-DSA-44
    needs: build
    uses: ./.github/workflows/ca-mldsa-test.yml

  ca-rsa-test:
    name: CA with RSA
    needs: build
    uses: ./.github/workflows/ca-rsa-test.yml

  ca-rsa-pss-test:
    name: CA with RSA/PSS
    needs: build
    uses: ./.github/workflows/ca-rsa-pss-test.yml

  ca-existing-certs-test:
    name: CA with existing certs
    needs: build
    uses: ./.github/workflows/ca-existing-certs-test.yml

  ca-existing-nssdb-test:
    name: CA with existing NSS database
    needs: build
    uses: ./.github/workflows/ca-existing-nssdb-test.yml

  ca-existing-hsm-test:
    name: CA with existing HSM
    needs: build
    uses: ./.github/workflows/ca-existing-hsm-test.yml

  ca-existing-ds-test:
    name: CA with existing DS
    needs: build
    uses: ./.github/workflows/ca-existing-ds-test.yml

  ca-existing-config-test:
    name: CA with existing config
    needs: build
    uses: ./.github/workflows/ca-existing-config-test.yml

  ca-cmc-shared-token-test:
    name: CA with CMC shared token
    needs: build
    uses: ./.github/workflows/ca-cmc-shared-token-test.yml

  ca-hsm-test:
    name: CA with HSM
    needs: build
    uses: ./.github/workflows/ca-hsm-test.yml

  ca-ds-connection-test:
    name: CA connection with DS
    needs: build
    uses: ./.github/workflows/ca-ds-connection-test.yml

  ca-secure-ds-test:
    name: CA with secure DS
    needs: build
    uses: ./.github/workflows/ca-secure-ds-test.yml

  ca-rsnv1-test:
    name: CA with RSNv1
    needs: build
    uses: ./.github/workflows/ca-rsnv1-test.yml

  ca-ssnv1-test:
    name: CA with SSNv1
    needs: build
    uses: ./.github/workflows/ca-ssnv1-test.yml

  ca-ssnv2-test:
    name: CA with SSNv2
    needs: build
    uses: ./.github/workflows/ca-ssnv2-test.yml

  ca-pruning-test:
    name: CA database pruning
    needs: build
    uses: ./.github/workflows/ca-pruning-test.yml

  ca-admin-user-test:
    name: CA admin user
    needs: build
    uses: ./.github/workflows/ca-admin-user-test.yml
