name: CA Tests 2

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  ca-clone-test:
    name: CA clone
    needs: [init, build]
    uses: ./.github/workflows/ca-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-clone-hsm-test:
    name: CA clone with HSM
    needs: [init, build]
    uses: ./.github/workflows/ca-clone-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-secure-ds-test:
    name: CA with secure DS
    needs: [init, build]
    uses: ./.github/workflows/ca-secure-ds-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-clone-secure-ds-test:
    name: CA clone with secure DS
    needs: [init, build]
    uses: ./.github/workflows/ca-clone-secure-ds-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-crl-test:
    name: CA CRL database
    needs: [init, build]
    uses: ./.github/workflows/ca-crl-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-publishing-ca-cert-test:
    name: CA with CA cert publishing
    needs: [init, build]
    uses: ./.github/workflows/ca-publishing-ca-cert-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-publishing-user-cert-test:
    name: CA with user cert publishing
    needs: [init, build]
    uses: ./.github/workflows/ca-publishing-user-cert-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-publishing-crl-file-test:
    name: CA with file-based CRL publishing
    needs: [init, build]
    uses: ./.github/workflows/ca-publishing-crl-file-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-publishing-crl-ldap-test:
    name: CA with LDAP-based CRL publishing
    needs: [init, build]
    uses: ./.github/workflows/ca-publishing-crl-ldap-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-notification-request-test:
    name: CA with request notification
    needs: [init, build]
    uses: ./.github/workflows/ca-notification-request-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-lightweight-test:
    name: Lightweight CA
    needs: [init, build]
    uses: ./.github/workflows/ca-lightweight-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ca-lightweight-hsm-test:
    name: Lightweight CA with HSM
    needs: [init, build]
    uses: ./.github/workflows/ca-lightweight-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-basic-test:
    name: Basic Sub-CA
    needs: [init, build]
    uses: ./.github/workflows/subca-basic-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-cmc-test:
    name: Sub-CA with CMC
    needs: [init, build]
    uses: ./.github/workflows/subca-cmc-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-external-test:
    name: Sub-CA with external cert
    needs: [init, build]
    uses: ./.github/workflows/subca-external-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-hsm-test:
    name: Sub-CA with HSM
    needs: [init, build]
    uses: ./.github/workflows/subca-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-clone-test:
    name: Sub-CA clone
    needs: [init, build]
    uses: ./.github/workflows/subca-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  subca-clone-hsm-test:
    name: Sub-CA clone with HSM
    needs: [init, build]
    uses: ./.github/workflows/subca-clone-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  scep-test:
    name: SCEP responder
    needs: [init, build]
    uses: ./.github/workflows/scep-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}
