name: IPA Tests

on: [push, pull_request]

env:
  BASE_IMAGE: ${{ vars.BASE_IMAGE || 'registry.fedoraproject.org/fedora:latest' }}
  COPR_REPO: ${{ vars.COPR_REPO || '@pki/master' }}

jobs:
  build:
    name: Building IPA images
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        id: cache-buildx
        uses: actions/cache@v3
        with:
          key: buildx-${{ hashFiles('pki.spec') }}
          path: /tmp/.buildx-cache

      - name: Build pki-deps image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: pki-deps
          target: pki-deps
          cache-to: type=local,dest=/tmp/.buildx-cache
        if: steps.cache-buildx.outputs.cache-hit != 'true'

      - name: Build pki-builder-deps image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: pki-builder-deps
          target: pki-builder-deps
          cache-to: type=local,dest=/tmp/.buildx-cache
        if: steps.cache-buildx.outputs.cache-hit != 'true'

      - name: Build ipa-runner image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ env.BASE_IMAGE }}
            COPR_REPO=${{ env.COPR_REPO }}
            BUILD_OPTS=--with-pkgs=base,server,ca,kra,acme --without-test
          tags: ipa-runner
          target: ipa-runner
          cache-from: type=local,src=/tmp/.buildx-cache
          outputs: type=docker

      - name: Save IPA images
        run: |
          docker images
          docker save -o ipa-images.tar ipa-runner

      - name: Store IPA images
        uses: actions/cache@v3
        with:
          key: ipa-images-${{ github.sha }}
          path: ipa-images.tar

  ipa-basic-test:
    name: Basic IPA
    needs: build
    uses: ./.github/workflows/ipa-basic-test.yml

  ipa-acme-test:
    name: IPA ACME
    needs: build
    uses: ./.github/workflows/ipa-acme-test.yml

  ipa-subca-test:
    name: IPA with Sub-CA
    needs: build
    uses: ./.github/workflows/ipa-subca-test.yml

  ipa-clone-test:
    name: IPA clone
    needs: build
    uses: ./.github/workflows/ipa-clone-test.yml
