name: KRA Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  kra-basic-test:
    name: Basic KRA
    needs: [init, build]
    uses: ./.github/workflows/kra-basic-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-oaep-test:
    name: KRA with RSA OAEP padding
    needs: [init, build]
    uses: ./.github/workflows/kra-oaep-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-separate-test:
    name: KRA on separate instance
    needs: [init, build]
    uses: ./.github/workflows/kra-separate-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-external-certs-test:
    name: KRA with external certs
    needs: [init, build]
    uses: ./.github/workflows/kra-external-certs-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-cmc-test:
    name: KRA with CMC
    needs: [init, build]
    uses: ./.github/workflows/kra-cmc-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-clone-test:
    name: KRA clone
    needs: [init, build]
    uses: ./.github/workflows/kra-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-standalone-test:
    name: Standalone KRA
    needs: [init, build]
    uses: ./.github/workflows/kra-standalone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-rsnv1-test:
    name: KRA with RSNv1
    needs: [init, build]
    uses: ./.github/workflows/kra-rsnv1-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  kra-hsm-test:
    name: KRA with HSM
    needs: [init, build]
    uses: ./.github/workflows/kra-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}
