name: OCSP Tests

on: [push, pull_request]

jobs:
  init:
    name: Initializing workflow
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.init.outputs.matrix }}
      repo: ${{ steps.init.outputs.repo }}
      db-image: ${{ steps.init.outputs.db-image }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Initialize workflow
        id: init
        env:
          BASE64_MATRIX: ${{ secrets.BASE64_MATRIX }}
          BASE64_REPO: ${{ secrets.BASE64_REPO }}
          BASE64_DATABASE: ${{ secrets.BASE64_DATABASE }}
        run: |
          tests/bin/init-workflow.sh

  # docs/development/Building_PKI.md
  build:
    name: Building PKI
    needs: init
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache pki-deps image
        id: cache-pki-deps
        uses: actions/cache@v3
        with:
          key: pki-deps-${{ matrix.os }}-${{ hashFiles('pki.spec') }}
          path: /tmp/cache-pki-deps

      - name: Build pki-deps image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ needs.init.outputs.repo }}
          tags: pki-deps
          target: pki-deps
          cache-to: type=local,dest=/tmp/cache-pki-deps
        if: steps.cache-pki-deps.outputs.cache-hit != 'true'

      - name: Build runner image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ needs.init.outputs.repo }}
          tags: pki-runner
          target: pki-runner
          cache-from: type=local,src=/tmp/cache-pki-deps
          outputs: type=docker,dest=pki-runner.tar

      - name: Store runner image
        uses: actions/cache@v3
        with:
          key: pki-ocsp-runner-${{ matrix.os }}-${{ github.run_id }}
          path: pki-runner.tar

  ocsp-basic-test:
    name: Basic OCSP
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-basic-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-separate-test:
    name: OCSP on separate instance
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-separate-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-external-certs-test:
    name: OCSP with external certs
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-external-certs-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-cmc-test:
    name: OCSP with CMC
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-cmc-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-clone-test:
    name: OCSP clone
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-clone-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-crl-direct-test:
    name: OCSP with direct CRL publishing
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-crl-direct-test.yml
    with:
      os: ${{ matrix.os }}

  ocsp-crl-ldap-test:
    name: OCSP with LDAP-based CRL publishing
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/ocsp-crl-ldap-test.yml
    with:
      os: ${{ matrix.os }}
