name: OCSP Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    uses: ./.github/workflows/wait-for-build.yml
    secrets: inherit

  ocsp-basic-test:
    name: Basic OCSP
    needs: [init, build]
    uses: ./.github/workflows/ocsp-basic-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-separate-test:
    name: OCSP on separate instance
    needs: [init, build]
    uses: ./.github/workflows/ocsp-separate-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-external-certs-test:
    name: OCSP with external certs
    needs: [init, build]
    uses: ./.github/workflows/ocsp-external-certs-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-cmc-test:
    name: OCSP with CMC
    needs: [init, build]
    uses: ./.github/workflows/ocsp-cmc-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-clone-test:
    name: OCSP clone
    needs: [init, build]
    uses: ./.github/workflows/ocsp-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-standalone-test:
    name: Standalone OCSP
    needs: [init, build]
    uses: ./.github/workflows/ocsp-standalone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-crl-direct-test:
    name: OCSP with direct CRL publishing
    needs: [init, build]
    uses: ./.github/workflows/ocsp-crl-direct-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-crl-ldap-test:
    name: OCSP with LDAP-based CRL publishing
    needs: [init, build]
    uses: ./.github/workflows/ocsp-crl-ldap-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-hsm-test:
    name: OCSP with HSM
    needs: [init, build]
    uses: ./.github/workflows/ocsp-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  ocsp-crl-ldap-self-verification-test:
    name: OCSP with self certificate verification test
    needs: [init, build]
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Retrieve PKI images
      uses: actions/cache@v3
      with:
        key: pki-images-${{ github.sha }}
        path: pki-images.tar

    - name: Load PKI images
      run: docker load --input pki-images.tar

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install ansible
      run: |
        python -m pip install --upgrade pip
        pip install --user -r tests/ansible/requirements.txt

    - name: Execute OCSP playbook
      run: |
        ansible-playbook  -e 'pki_subsystem="ocsp"' tests/ansible/pki-playbook.yml 
      env:
        ANSIBLE_CONFIG: ${{ github.workspace }}/tests/ansible/ansible.cfg
