name: OCSP with CMC

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  # docs/installation/ocsp/Installing_OCSP_with_External_Certificates.md
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Create network
        run: docker network create example

      - name: Set up CA DS container
        run: |
          tests/bin/ds-create.sh \
              --image=${{ env.DS_IMAGE }} \
              --hostname=cads.example.com \
              --password=Secret.123 \
              cads

      - name: Connect CA DS container to network
        run: docker network connect example cads --alias cads.example.com

      - name: Set up CA container
        run: |
          tests/bin/runner-init.sh ca
        env:
          HOSTNAME: ca.example.com

      - name: Connect CA container to network
        run: docker network connect example ca --alias ca.example.com

      - name: Install CA in CA container
        run: |
          docker exec ca pkispawn \
              -f /usr/share/pki/server/examples/installation/ca.cfg \
              -s CA \
              -D pki_ds_url=ldap://cads.example.com:3389 \
              -v

          docker exec ca pki-server cert-find

      - name: Initialize CA admin in CA container
        run: |
          docker exec ca pki-server cert-export ca_signing --cert-file $SHARED/ca_signing.crt

          docker exec ca pki nss-cert-import \
              --cert $SHARED/ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          docker exec ca pki pkcs12-import \
              --pkcs12 /root/.dogtag/pki-tomcat/ca_admin_cert.p12 \
              --pkcs12-password Secret.123

      - name: Set up OCSP DS container
        run: |
          tests/bin/ds-create.sh \
              --image=${{ env.DS_IMAGE }} \
              --hostname=ocspds.example.com \
              --password=Secret.123 \
              ocspds

      - name: Connect OCSP DS container to network
        run: docker network connect example ocspds --alias ocspds.example.com

      - name: Set up OCSP container
        run: |
          tests/bin/runner-init.sh ocsp
        env:
          HOSTNAME: ocsp.example.com

      - name: Connect OCSP container to network
        run: docker network connect example ocsp --alias ocsp.example.com

      - name: Install OCSP in OCSP container (step 1)
        run: |
          docker exec ocsp pkispawn \
              -f /usr/share/pki/server/examples/installation/ocsp-external-certs-step1.cfg \
              -s OCSP \
              -D pki_cert_chain_path=$SHARED/ca_signing.crt \
              -D pki_ds_url=ldap://ocspds.example.com:3389 \
              -D pki_ocsp_signing_csr_path=$SHARED/ocsp_signing.csr \
              -D pki_subsystem_csr_path=$SHARED/subsystem.csr \
              -D pki_sslserver_csr_path=$SHARED/sslserver.csr \
              -D pki_audit_signing_csr_path=$SHARED/ocsp_audit_signing.csr \
              -D pki_admin_csr_path=$SHARED/ocsp_admin.csr \
              -v

      # https://github.com/dogtagpki/pki/wiki/Issuing-OCSP-Signing-Certificate-with-CMC
      - name: Issue OCSP signing cert with CMC
        run: |
          # check cert request
          docker exec ca openssl req -text -noout -in $SHARED/ocsp_signing.csr

          # create CMC request
          docker exec ca cp $SHARED/ocsp_signing.csr ocsp_signing.csr
          docker exec ca CMCRequest \
              /usr/share/pki/server/examples/cmc/ocsp_signing-cmc-request.cfg

          # submit CMC request
          docker exec ca HttpClient \
              /usr/share/pki/server/examples/cmc/ocsp_signing-cmc-submit.cfg

          # convert DER PKCS #7 response into PEM PKCS #7 chain
          docker exec ca CMCResponse \
              -d /root/.dogtag/nssdb \
              -i ocsp_signing.cmc-response \
              -o $SHARED/ocsp_signing.p7b

          # check issued cert chain
          docker exec ca openssl pkcs7 -print_certs -in $SHARED/ocsp_signing.p7b

      # https://github.com/dogtagpki/pki/wiki/Issuing-Subsystem-Certificate-with-CMC
      - name: Issue subsystem cert with CMC
        run: |
          # check cert request
          docker exec ca openssl req -text -noout -in $SHARED/subsystem.csr

          # create CMC request
          docker exec ca cp $SHARED/subsystem.csr subsystem.csr
          docker exec ca CMCRequest \
              /usr/share/pki/server/examples/cmc/subsystem-cmc-request.cfg

          # submit CMC request
          docker exec ca HttpClient \
              /usr/share/pki/server/examples/cmc/subsystem-cmc-submit.cfg

          # convert CMC response (DER PKCS #7) into PEM PKCS #7 cert chain
          docker exec ca CMCResponse \
              -d /root/.dogtag/nssdb \
              -i subsystem.cmc-response \
              -o $SHARED/subsystem.p7b

          # check issued cert chain
          docker exec ca openssl pkcs7 -print_certs -in $SHARED/subsystem.p7b

      # https://github.com/dogtagpki/pki/wiki/Issuing-SSL-Server-Certificate-with-CMC
      - name: Issue SSL server cert with CMC
        run: |
          # check cert request
          docker exec ca openssl req -text -noout -in $SHARED/sslserver.csr

          # create CMC request
          docker exec ca cp $SHARED/sslserver.csr sslserver.csr
          docker exec ca CMCRequest \
              /usr/share/pki/server/examples/cmc/sslserver-cmc-request.cfg

          # submit CMC request
          docker exec ca HttpClient \
              /usr/share/pki/server/examples/cmc/sslserver-cmc-submit.cfg

          # convert CMC response (DER PKCS #7) into PEM PKCS #7 cert chain
          docker exec ca CMCResponse \
              -d /root/.dogtag/nssdb \
              -i sslserver.cmc-response \
              -o $SHARED/sslserver.p7b

          # check issued cert chain
          docker exec ca openssl pkcs7 -print_certs -in $SHARED/sslserver.p7b

      # https://github.com/dogtagpki/pki/wiki/Issuing-Audit-Signing-Certificate-with-CMC
      - name: Issue OCSP audit signing cert with CMC
        run: |
          # check cert request
          docker exec ca openssl req -text -noout -in $SHARED/ocsp_audit_signing.csr

          # create CMC request
          docker exec ca cp $SHARED/ocsp_audit_signing.csr audit_signing.csr
          docker exec ca CMCRequest \
              /usr/share/pki/server/examples/cmc/audit_signing-cmc-request.cfg

          # submit CMC request
          docker exec ca HttpClient \
              /usr/share/pki/server/examples/cmc/audit_signing-cmc-submit.cfg

          # convert CMC response (DER PKCS #7) into PEM PKCS #7 cert chain
          docker exec ca CMCResponse \
              -d /root/.dogtag/nssdb \
              -i audit_signing.cmc-response \
              -o $SHARED/ocsp_audit_signing.p7b

          # check issued cert chain
          docker exec ca openssl pkcs7 -print_certs -in $SHARED/ocsp_audit_signing.p7b

      # https://github.com/dogtagpki/pki/wiki/Issuing-Admin-Certificate-with-CMC
      - name: Issue OCSP admin cert with CMC
        run: |
          # check cert request
          docker exec ca openssl req -text -noout -in $SHARED/ocsp_admin.csr

          # create CMC request
          docker exec ca cp $SHARED/ocsp_admin.csr admin.csr
          docker exec ca CMCRequest \
              /usr/share/pki/server/examples/cmc/admin-cmc-request.cfg

          # submit CMC request
          docker exec ca HttpClient \
              /usr/share/pki/server/examples/cmc/admin-cmc-submit.cfg

          # convert CMC response (DER PKCS #7) into PEM PKCS #7 cert chain
          docker exec ca CMCResponse \
              -d /root/.dogtag/nssdb \
              -i admin.cmc-response \
              -o ocsp_admin.p7b

          # pki_admin_cert_path only supports a single cert so the admin cert
          # needs to be exported from the PKCS #7 cert chain
          # TODO: fix pki_admin_cert_path to support PKCS #7 cert chain
          docker exec ca pki pkcs7-cert-export \
              --pkcs7 ocsp_admin.p7b \
              --output-prefix ocsp_admin- \
              --output-suffix .crt
          docker exec ca cp ocsp_admin-1.crt $SHARED/ocsp_admin.crt

          # check issued cert
          docker exec ca openssl x509 -text -noout -in $SHARED/ocsp_admin.crt

      - name: Install OCSP in OCSP container (step 2)
        run: |
          docker exec ocsp pkispawn \
              -f /usr/share/pki/server/examples/installation/ocsp-external-certs-step2.cfg \
              -s OCSP \
              -D pki_cert_chain_path=$SHARED/ca_signing.crt \
              -D pki_ds_url=ldap://ocspds.example.com:3389 \
              -D pki_ocsp_signing_csr_path=$SHARED/ocsp_signing.csr \
              -D pki_subsystem_csr_path=$SHARED/subsystem.csr \
              -D pki_sslserver_csr_path=$SHARED/sslserver.csr \
              -D pki_audit_signing_csr_path=$SHARED/ocsp_audit_signing.csr \
              -D pki_admin_csr_path=$SHARED/ocsp_admin.csr \
              -D pki_ocsp_signing_cert_path=$SHARED/ocsp_signing.p7b \
              -D pki_subsystem_cert_path=$SHARED/subsystem.p7b \
              -D pki_sslserver_cert_path=$SHARED/sslserver.p7b \
              -D pki_audit_signing_cert_path=$SHARED/ocsp_audit_signing.p7b \
              -D pki_admin_cert_path=$SHARED/ocsp_admin.crt \
              -v

          docker exec ocsp pki-server cert-find

      - name: Run PKI healthcheck
        run: docker exec ocsp pki-healthcheck --failures-only

      - name: Verify OCSP admin
        run: |
          docker exec ocsp pki nss-cert-import \
              --cert $SHARED/ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          docker exec ocsp pki pkcs12-import \
              --pkcs12 /root/.dogtag/pki-tomcat/ocsp_admin_cert.p12 \
              --pkcs12-password Secret.123
          docker exec ocsp pki -n ocspadmin ocsp-user-show ocspadmin

      - name: Gather artifacts
        if: always()
        run: |
          tests/bin/ds-artifacts-save.sh cads
          tests/bin/pki-artifacts-save.sh ca
          tests/bin/ds-artifacts-save.sh ocspds
          tests/bin/pki-artifacts-save.sh ocsp
        continue-on-error: true

      - name: Remove OCSP from OCSP container
        run: docker exec ocsp pkidestroy -i pki-tomcat -s OCSP -v

      - name: Remove CA from CA container
        run: docker exec ca pkidestroy -i pki-tomcat -s CA -v

      - name: Check CA DS server systemd journal
        if: always()
        run: |
          docker exec cads journalctl -x --no-pager -u dirsrv@localhost.service

      - name: Check CA DS container logs
        if: always()
        run: |
          docker logs cads

      - name: Check CA systemd journal
        if: always()
        run: |
          docker exec ca journalctl -x --no-pager -u pki-tomcatd@pki-tomcat.service

      - name: Check CA debug log
        if: always()
        run: |
          docker exec ca find /var/lib/pki/pki-tomcat/logs/ca -name "debug.*" -exec cat {} \;

      - name: Check OCSP DS server systemd journal
        if: always()
        run: |
          docker exec ocspds journalctl -x --no-pager -u dirsrv@localhost.service

      - name: Check OCSP DS container logs
        if: always()
        run: |
          docker logs ocspds

      - name: Check OCSP systemd journal
        if: always()
        run: |
          docker exec ocsp journalctl -x --no-pager -u pki-tomcatd@pki-tomcat.service

      - name: Check OCSP debug log
        if: always()
        run: |
          docker exec ocsp find /var/lib/pki/pki-tomcat/logs/ocsp -name "debug.*" -exec cat {} \;

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ocsp-cmc
          path: /tmp/artifacts
