name: PKI NSS CLI with HSM

on: workflow_call

env:
  DB_IMAGE: ${{ vars.DB_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  # https://github.com/dogtagpki/pki/wiki/PKI-NSS-CLI
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Set up runner container
        run: |
          tests/bin/runner-init.sh pki
        env:
          HOSTNAME: pki.example.com

      - name: Create HSM token
        run: |
          docker exec pki dnf install -y softhsm
          docker exec pki softhsm2-util --init-token \
              --label HSM \
              --so-pin Secret.HSM \
              --pin Secret.HSM \
              --free
          docker exec pki softhsm2-util --show-slots

          # create password.conf
          echo "internal=" > password.conf
          echo "hardware-HSM=Secret.HSM" >> password.conf

      - name: Create key in HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-key-create | tee output

          # get key ID
          sed -n 's/^\s*Key ID:\s*\(\S\+\)\s*$/\1/p' output > ca_signing_key_id

      - name: Verify key in HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-key-find | tee output

          sed -n 's/\s*Key ID:\s*\(\S\+\)\s*$/\L\1/p' output > actual
          diff ca_signing_key_id actual

          # verify key not in internal token
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-key-find | tee actual
          echo -n "" > expected
          diff expected actual

      # https://github.com/dogtagpki/pki/wiki/Generating-CA-Signing-CSR-with-PKI-NSS
      - name: Generate CA signing cert request with existing key in HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-request \
              --key-id $(cat ca_signing_key_id) \
              --subject "CN=Certificate Authority" \
              --ext /usr/share/pki/server/certs/ca_signing.conf \
              --csr ca_signing.csr
          docker exec pki openssl req -text -noout -in ca_signing.csr

          docker exec pki certutil -K -d /root/.dogtag/nssdb || true

          echo "Secret.HSM" > password.txt
          docker exec pki certutil -K \
              -d /root/.dogtag/nssdb \
              -f $SHARED/password.txt \
              -h HSM

      # https://github.com/dogtagpki/pki/wiki/Issuing-CA-Signing-Certificate-with-PKI-NSS
      - name: Issue self-signed CA signing cert
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-issue \
              --csr ca_signing.csr \
              --ext /usr/share/pki/server/certs/ca_signing.conf \
              --cert ca_signing.crt
          docker exec pki openssl x509 -text -noout -in ca_signing.crt

      - name: Import CA signing cert into internal token and HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-import \
              --cert ca_signing.crt \
              --trust CT,C,C \
              ca_signing

      - name: Verify CA signing cert in internal token
        run: |
          echo "CT,C,C" > expected

          docker exec pki certutil -L -d /root/.dogtag/nssdb | tee output
          sed -n 's/^ca_signing\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki nss-cert-show ca_signing | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          # verify key not in internal token
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname ca_signing | tee actual
          echo -n "" > expected
          diff actual expected

      - name: Verify CA signing cert in HSM
        run: |
          echo "CTu,Cu,Cu" > expected

          docker exec pki certutil -L \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output
          sed -n 's/^HSM:ca_signing\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-show \
              HSM:ca_signing | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          echo rsa > expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname HSM:ca_signing | tee output
          sed -n 's/\s*Type:\s*\(\S\+\)\s*$/\L\1/p' output > actual
          diff actual expected

      # https://github.com/dogtagpki/pki/wiki/Generating-SSL-Server-CSR-with-PKI-NSS
      - name: Create SSL server cert request with key in HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-request \
              --subject "CN=pki.example.com" \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --csr sslserver.csr
          docker exec pki openssl req -text -noout -in sslserver.csr

          docker exec pki certutil -K -d /root/.dogtag/nssdb || true

          docker exec pki certutil -K \
              -d /root/.dogtag/nssdb \
              -f $SHARED/password.txt \
              -h HSM

      # https://github.com/dogtagpki/pki/wiki/Issuing-SSL-Server-Certificate-with-PKI-NSS
      - name: Issue SSL server cert
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-issue \
              --issuer HSM:ca_signing \
              --csr sslserver.csr \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --cert sslserver.crt
          docker exec pki openssl x509 -text -noout -in sslserver.crt

      - name: Import SSL server cert into internal token and HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-import \
              --cert sslserver.crt \
              sslserver

      - name: Verify SSL server cert in internal token
        run: |
          echo ",," > expected

          docker exec pki certutil -L -d /root/.dogtag/nssdb | tee output
          sed -n 's/^sslserver\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki nss-cert-show sslserver | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          # verify key not in internal token
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname sslserver | tee actual
          echo -n "" > expected
          diff actual expected

      - name: Verify SSL server cert in HSM
        run: |
          echo "u,u,u" > expected

          docker exec pki certutil -L \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output
          sed -n 's/^HSM:sslserver\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-show \
              HSM:sslserver | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          echo rsa > expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname HSM:sslserver | tee output
          sed -n 's/\s*Type:\s*\(\S\+\)\s*$/\L\1/p' output > actual
          diff actual expected

          # get key ID
          sed -n 's/\s*Key ID:\s*\(\S\+\)\s*$/\L\1/p' output > sslserver_key_id

      - name: Delete SSL server cert but keep the key
        run: |
          # delete cert from internal token
          docker exec pki pki \
              nss-cert-del \
              sslserver

          # delete cert from HSM
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-cert-del \
              HSM:sslserver

      - name: Verify SSL server cert in internal token
        run: |
          docker exec pki certutil -L -d /root/.dogtag/nssdb | tee output

          # SSL server cert should not exist
          echo "ca_signing CT,C,C" > expected
          sed -n -e '1,4d' -e 's/^\(.*\S\)\s\+\(\S\+\)\s*$/\1 \2/p' output > actual
          diff expected actual

          docker exec pki certutil -K -d /root/.dogtag/nssdb | tee output

          # SSL server key should not exist
          echo -n > expected
          sed -n 's/^<.*>\s\+\S\+\s\+\S\+\s\+\(.*\)$/\1/p' output | sort > actual
          diff expected actual

      - name: Verify SSL server cert in HSM
        run: |
          docker exec pki certutil -L \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output

          # SSL server cert should not exist
          echo "HSM:ca_signing CTu,Cu,Cu" > expected
          sed -n -e '1,4d' -e 's/^\(.*\S\)\s\+\(\S\+\)\s*$/\1 \2/p' output > actual
          diff expected actual

          docker exec pki certutil -K \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output

          # SSL server key should exist but orphaned
          echo "(orphan)" > expected
          echo "HSM:ca_signing" >> expected
          sed -n 's/^<.*>\s\+\S\+\s\+\S\+\s\+\(.*\)$/\1/p' output | sort > actual
          diff expected actual

      - name: Create new SSL server cert request with existing key in HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-request \
              --key-id $(cat sslserver_key_id) \
              --subject "CN=pki.example.com" \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --csr new_sslserver.csr
          docker exec pki openssl req -text -noout -in new_sslserver.csr

          docker exec pki certutil -K -d /root/.dogtag/nssdb || true

          docker exec pki certutil -K \
              -d /root/.dogtag/nssdb \
              -f $SHARED/password.txt \
              -h HSM

      - name: Issue new  SSL server cert
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-issue \
              --issuer HSM:ca_signing \
              --csr new_sslserver.csr \
              --ext /usr/share/pki/server/certs/sslserver.conf \
              --cert new_sslserver.crt
          docker exec pki openssl x509 -text -noout -in new_sslserver.crt

      - name: Import new SSL server cert into internal token and HSM
        run: |
          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-import \
              --cert new_sslserver.crt \
              new_sslserver

      - name: Verify SSL server cert in internal token
        run: |
          # verify trust flags
          echo ",," > expected

          docker exec pki certutil -L -d /root/.dogtag/nssdb | tee output
          sed -n 's/^new_sslserver\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki nss-cert-show new_sslserver | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          # verify key not in internal token
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname new_sslserver | tee actual
          echo -n > expected
          diff actual expected

      - name: Verify SSL server cert in HSM
        run: |
          # verify trust flags
          echo "u,u,u" > expected

          docker exec pki certutil -L \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output
          sed -n 's/^HSM:new_sslserver\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-cert-show \
              HSM:new_sslserver | tee output
          sed -n 's/\s*Trust Flags:\s*\(\S\+\)\s*$/\1/p' output > actual
          diff actual expected

          # verify key type
          echo rsa > expected

          docker exec pki pki \
              --token HSM \
              -f $SHARED/password.conf \
              nss-key-find \
              --nickname HSM:new_sslserver | tee output
          sed -n 's/\s*Type:\s*\(\S\+\)\s*$/\L\1/p' output > actual
          diff actual expected

          # get key ID
          sed -n 's/\s*Key ID:\s*\(\S\+\)\s*$/\L\1/p' output > new_sslserver_key_id
          diff sslserver_key_id new_sslserver_key_id

      - name: Delete SSL server cert and key from internal token and HSM
        run: |
          # delete cert from internal token
          docker exec pki pki \
              nss-cert-del \
              new_sslserver \
              --remove-key

          # delete cert from HSM
          docker exec pki pki \
              -f $SHARED/password.conf \
              nss-cert-del \
              HSM:new_sslserver \
              --remove-key

      - name: Verify SSL server cert in internal token
        run: |
          docker exec pki certutil -L -d /root/.dogtag/nssdb | tee output

          # SSL server cert should not exist
          echo "ca_signing CT,C,C" > expected
          sed -n -e '1,4d' -e 's/^\(.*\S\)\s\+\(\S\+\)\s*$/\1 \2/p' output > actual
          diff expected actual

          docker exec pki certutil -K -d /root/.dogtag/nssdb | tee output

          # SSL server key should not exist
          echo -n > expected
          sed -n 's/^<.*>\s\+\S\+\s\+\S\+\s\+\(.*\)$/\1/p' output | sort > actual
          diff expected actual

      - name: Verify SSL server cert in HSM
        run: |
          docker exec pki certutil -L \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output

          # SSL server cert should not exist
          echo "HSM:ca_signing CTu,Cu,Cu" > expected
          sed -n -e '1,4d' -e 's/^\(.*\S\)\s\+\(\S\+\)\s*$/\1 \2/p' output > actual
          diff expected actual

          docker exec pki certutil -K \
              -d /root/.dogtag/nssdb \
              -h HSM \
              -f $SHARED/password.txt | tee output

          # SSL server key should not exist
          echo "HSM:ca_signing" > expected
          sed -n 's/^<.*>\s\+\S\+\s\+\S\+\s\+\(.*\)$/\1/p' output | sort > actual
          diff expected actual

      - name: Remove HSM token
        run: docker exec pki softhsm2-util --delete-token --token HSM
