name: PKI Password CLI

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Set up runner container
        run: |
          tests/bin/runner-init.sh \
              --hostname=pki.example.com \
              pki

      - name: Check pki password CLI help message
        run: |
          docker exec pki pki password
          docker exec pki pki password --help

          docker exec pki pki password-generate --help

          # TODO: validate output

      - name: Generate password with default characters
        run: |
          docker exec pki pki password-generate | tee password.txt

          # there should be 12 chars
          PASSWORD=$(cat password.txt)
          [ "${#PASSWORD}" = "12" ]

          # there should be at least 1 digit
          sed -n '/[0-9]/p' password.txt | wc -l | awk '{print $1;}' | tee actual
          echo "1" > expected
          diff expected actual

          # there should be at least 1 lowercase letter
          sed -n '/[a-z]/p' password.txt | wc -l | awk '{print $1;}' | tee actual
          echo "1" > expected
          diff expected actual

          # there should be at least 1 uppercase letter
          sed -n '/[A-Z]/p' password.txt | wc -l | awk '{print $1;}' | tee actual
          echo "1" > expected
          diff expected actual

          # there should be at least 1 punctuation
          sed -n '/[!#*+,-./:;^_|~]/p' password.txt | wc -l | awk '{print $1;}' | tee actual
          echo "1" > expected
          diff expected actual || true

      - name: Generate password with user-provided characters
        run: |
          docker exec pki pki password-generate \
              --characters "0123456789ABCDEF" \
              --length 20 \
              --output-file $SHARED/password.txt

          PASSWORD=$(cat password.txt)
          echo "$PASSWORD"

          # there should be 20 chars
          [ "${#PASSWORD}" = "20" ]

          # it should be a valid hex value which
          # can be converted to decimal and back
          DEC=$(echo "ibase=16; $PASSWORD" | bc)
          HEX=$(echo "obase=16; $DEC" | bc)

          # prepend with 0 if needed
          while [ ${#HEX} -lt 20 ]; do
              HEX="0$HEX"
          done

          # it should match the original value
          [ "$PASSWORD" = "$HEX" ]
