name: PKICertImport

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Set up runner container
        run: |
          tests/bin/runner-init.sh pki
        env:
          HOSTNAME: pki.example.com

      - name: Run PKICertImport test
        run: |
          # With new crypto policy in fedora SHA1 signature is not included in the default policy
          # so the exported p12, having sha1 signature are not accepted.
          # Waiting to update the export to configure a different algorithm for the signature
          # the following line enable SHA1 so PKICertImport can import p12 files. 
          docker exec pki update-crypto-policies --set DEFAULT:SHA1
          docker exec pki bash /usr/share/pki/tests/util/bin/test_PKICertImport.bash
