name: Publish PKI

on:
  push:
    branches:
      - master

env:
  NAMESPACE: ${{ vars.REGISTRY_NAMESPACE || github.repository_owner }}

jobs:
  publish-maven:
    if: vars.REGISTRY != ''
    name: Publishing Maven artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Check settings.xml
        run: |
          cat ~/.m2/settings.xml

      - name: Update pom.xml
        run: |
          sed -i \
              -e "s/OWNER/$NAMESPACE/g" \
              -e "s/REPOSITORY/pki/g" \
              pom.xml
          cat pom.xml

      - name: Publish Maven artifacts
        run: |
          # TODO: Fix test issue due to missing JSS shared libraries.
          mvn \
              --batch-mode \
              --update-snapshots \
              -DskipTests \
              deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  wait-for-images:
    if: vars.REGISTRY != ''
    name: Waiting for container images
    runs-on: ubuntu-latest
    steps:
      - name: Wait for container images
        uses: lewagon/wait-on-check-action@v1.2.0
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30

  publish-images:
    name: Publishing container images
    needs: wait-for-images
    runs-on: ubuntu-latest
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: vars.REGISTRY == 'ghcr.io'

      - name: Log in to other container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
        if: vars.REGISTRY != 'ghcr.io'

      - name: Retrieve PKI images
        uses: actions/cache@v3
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Publish pki-dist image
        run: |
          docker tag pki-dist ${{ vars.REGISTRY }}/$NAMESPACE/pki-dist:latest
          docker push ${{ vars.REGISTRY }}/$NAMESPACE/pki-dist:latest

      - name: Publish pki-server image
        run: |
          docker tag pki-server ${{ vars.REGISTRY }}/$NAMESPACE/pki-server:latest
          docker push ${{ vars.REGISTRY }}/$NAMESPACE/pki-server:latest

      - name: Publish pki-ca image
        run: |
          docker tag pki-ca ${{ vars.REGISTRY }}/$NAMESPACE/pki-ca:latest
          docker push ${{ vars.REGISTRY }}/$NAMESPACE/pki-ca:latest
