name: QE Tests

on: [push, pull_request]

jobs:
  # docs/development/Building_PKI.md
  build:
    name: Building PKI
    runs-on: ubuntu-latest
    env:
      COPR_REPO: "@pki/10.10"
    strategy:
      matrix:
        os: ['32', '33']
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build runner image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ env.COPR_REPO }}
            BUILD_OPTS=--with-timestamp --with-commit-id
          tags: pki-runner
          target: pki-runner
          outputs: type=docker,dest=/tmp/pki-runner.tar

      - name: Upload runner image
        uses: actions/upload-artifact@v2
        with:
          name: pki-runner-${{ matrix.os }}
          path: /tmp/pki-runner.tar

  # Tier 0
  installation-sanity:
    # This job uses Ansible playbooks in the tests/ dir to setup a PKI deployment.
    # All 5 subsystems are deployed on "discrete" instances
    name: installation-sanity
    needs: build
    # TODO: Replace with ubuntu-latest once the rollout is complete:
    # https://github.com/actions/virtual-environments/issues/1816
    runs-on: ubuntu-20.04
    env:
      BUILDDIR: /tmp/workdir
      PKIDIR: /tmp/workdir/pki
      COPR_REPO: "@pki/10.10"
    strategy:
      matrix:
        os: ['32', '33']
    steps:
      - name: Install dependencies
        run: sudo apt-get install ansible python3-pip python3-pytest python3-docutils

      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Download runner image
        uses: actions/download-artifact@v2
        with:
          name: pki-runner-${{ matrix.os }}
          path: /tmp

      - name: Load runner image
        run: docker load --input /tmp/pki-runner.tar

      - name: Run master container
        run: |
          IMAGE=pki-runner \
          NAME=pki1 \
          HOSTNAME=pki1.example.com \
          ci/runner-init.sh

      - name: Install dependencies in master container
        run: docker exec pki1 dnf install -y 389-ds-base

      - name: Set up inventory
        run: |
          sed -e "s/TOPOLOGY/topology-02/g" ci/inventory > inventory
          ansible -i inventory -m setup master

      - name: Set up topology-02
        run: |
          mkdir -p /tmp/test_dir
          ansible-playbook \
              -b \
              -i inventory \
              -l all \
              -M tests/dogtag/pytest-ansible/common-modules \
              -vvv \
              tests/dogtag/pytest-ansible/installation/main.yml

      - name: Run sanity test
        run: |
          pip3 install -r tests/dogtag/pytest-ansible/requirements.txt
          pip3 install -e tests/dogtag/pytest-ansible
          pytest-3 \
              --ansible-host-pattern master \
              --ansible-inventory inventory \
              --ansible-module-path tests/dogtag/pytest-ansible/common-modules \
              --junit-xml pki_cert_junit.xml \
              -qsvvv \
              tests/dogtag/pytest-ansible/pytest/sanity/test_role_users.py

      - name: Gather log files from master container
        if: always()
        run: |
          docker exec pki1 bash -c "journalctl -u pki-tomcatd@topology-02-CA > /var/log/pki/topology-02-CA/systemd.log"
          docker exec pki1 bash -c "journalctl -u pki-tomcatd@topology-02-KRA > /var/log/pki/topology-02-KRA/systemd.log"
          docker exec pki1 bash -c "journalctl -u pki-tomcatd@topology-02-OCSP > /var/log/pki/topology-02-OCSP/systemd.log"
          docker exec pki1 bash -c "journalctl -u pki-tomcatd@topology-02-TKS > /var/log/pki/topology-02-TKS/systemd.log"
          docker exec pki1 bash -c "journalctl -u pki-tomcatd@topology-02-TPS > /var/log/pki/topology-02-TPS/systemd.log"
          docker exec pki1 tar cvf ${PKIDIR}/pki1-logs.tar -C / var/log/pki

      - name: Upload log files from master container
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: pki1-logs-${{ matrix.os }}
          path: pki1-logs.tar
