name: Required Tests

on:
    push:
        branches:
            - master
            - gh-actions
    pull_request:
        branches:
            - master

jobs:

    # Debug job
    # debug:
    #     name: Debug files upladed
    #     runs-on: ubuntu-latest
    #     strategy:
    #       matrix:
    #           os: ['30', '31']
    #     steps:
    #         - name: Print info
    #           run: echo ${{ matrix.os }}

    #         - name: Clone repository
    #           uses: actions/checkout@v2

    #         - name: Compress all files
    #           run: tar -czf debug-files.tar.gz *

    #         - name: Upload RPM artifacts
    #           uses: actions/upload-artifact@v1
    #           with:
    #             name: debug-files-name
    #             path: debug-files.tar.gz

    #         - name: Remove files
    #           run: rm -rf *

    #         - name: Download file
    #           uses: actions/download-artifact@v1
    #           with:
    #             name: debug-files-name

    #         - name: list and pwd contents of directory
    #           run: pwd && ls -la

    #         - name: Extract tar file downloaded
    #           run: tar -xzf debug-files-name/debug-files.tar.gz

    # "Build" job
    build:
      # This job tries to build PKI from src on a fresh docker container.
      # The docker container is spawned by github itself and we merely just
      # run the build commands. We then upload the artifact for consumption
      # by the test jobs + for the public to consume. This job **does not**
      # upload any build logs as they are visible in the log console itself.
 
      name: Build PKI
      runs-on: ubuntu-latest
      container: fedora:${{ matrix.os }}
      strategy:
          matrix:
            os: ['30', '31']
      steps:
          - name: Update base image
            run: |
                  set -x &&
                  dnf update -y &&
                  dnf install -y dnf-plugins-core rpm-build git

          - name: Clone the repository
            uses: actions/checkout@v2

          - name: Install PKI build deps
            run: |
                  # dnf copr enable @pki/master
                  dnf builddep -y --allowerasing --spec ./pki.spec &&
                  dnf clean all

          - name: Build PKI packages
            run: ./build.sh --with-timestamp --with-commit-id --work-dir=../packages rpm

          - name: Compress RPMS
            run: tar -czf pki-rpms.tar.gz ../packages/RPMS/*

          # upload-artifact runs on host-vm rather than inside the container. Fixed in v2 (unreleased)
          # Bug: https://github.com/actions/upload-artifact/issues/13#issuecomment-532936650
          - name: Upload RPM artifacts
            uses: actions/upload-artifact@v1
            with:
              name: pki-build-${{ matrix.os }}
              path: pki-rpms.tar.gz
    
    # Test job
    pki-tests:
      # This job depends on the 'build' job and waits till it completes.
      # This job needs container to be started manually, as Github provided
      # container **does not** use /usr/bin/init as its ENTRYPOINT.
      name: Test PKI
      needs: build
      runs-on: ubuntu-latest
      env:
        CONTAINER: pkitest
        BUILDDIR: /tmp/workdir
        PKIDIR: /tmp/workdir/pki
        LOGS: ${GITHUB_WORKSPACE}/logs.txt
        COPR_REPO: "@pki/master"
      strategy:
        matrix:
          os: ['30', '31']
      steps:
        - name: Clone the repository
          uses: actions/checkout@v2

        - name: Setup required test environment
          run: IMAGE=fedora:${{ matrix.os }} travis/runner-init.sh

        - name: Download PKI binaries from previous job
          uses: actions/download-artifact@v1
          with:
            name: pki-build-${{ matrix.os }}

        - name: Extract tar.gz for rpms
          run: tar -xzf pki-build-${{ matrix.os }}/pki-rpms.tar.gz

        - name: Install required packages
          run: docker exec -i ${CONTAINER} dnf install -y 389-ds-base-legacy-tools findutils dnf-plugins-core sudo wget 389-ds-base

        - name: Install PKI packages
          run: docker exec -i ${CONTAINER} bash -c "find ${PKIDIR} -name '*.rpm' -and -not -name '*debuginfo*' | xargs dnf -y install"
        
        #- name: Enable PKI COPR repo
        #  run: docker exec -i ${CONTAINER} dnf copr enable -y ${COPR_REPO}

        - name: Install DS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ds-create.sh

        - name: Install CA
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ca-create.sh

        - name: Install KRA
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/kra-create.sh

        - name: Install OCSP
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ocsp-create.sh

        - name: Install TKS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/tks-create.sh

        - name: Install TPS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/tps-create.sh

        - name: Remove TPS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/tps-remove.sh

        - name: Remove TKS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/tks-remove.sh

        - name: Remove OCSP
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ocsp-remove.sh

        - name: Remove KRA
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/kra-remove.sh

        - name: Remove CA
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ca-remove.sh

        - name: Remove DS
          run: docker exec -i ${CONTAINER} ${PKIDIR}/travis/ds-remove.sh

        - name: Gather journalctl logs
          run: docker exec -i ${CONTAINER} bash -c "journalctl -u pki-tomcatd@pkitest > /var/log/pki/pki-journalctl.log"

        - name: Compress logs
          if: always()
          run: docker exec -i ${CONTAINER} bash -c "tar -czf ${PKIDIR}/pki-logs.tar.gz /var/log/pki"

        - name: Upload Logs
          if: always()
          uses: actions/upload-artifact@v1
          with:
            name: pki-logs-${{ matrix.os }}
            path: pki-logs.tar.gz

    ipa-tests:
        name: Test IPA
        # This job depends on the 'build' job
        needs: build
        runs-on: ubuntu-latest
        container: fedora:${{ matrix.os }}
        strategy:
            matrix:
                os: ['30', '31']
        steps:
            - name: Update base image
              run: dnf update -y && dnf install -y findutils dnf-plugins-core
            
            - name: Set hostname
              run: hostnamectl set-hostname master.pki.test

            - name: Download PKI binaries from previous job
              uses: actions/download-artifact@v1
              with:
                name: pki-build-${{ matrix.os }}

            - name: Extract tar.gz for rpms
              run: tar -xzf pki-build-${{ matrix.os }}/pki-rpms.tar.gz
            
            # This step will download Git repo as a zip as there is no git package
            # available in vanilla fedora:${{ matrix.os }} image
            - name: Clone the repository
              uses: actions/checkout@v2

            - name: Export required variables
              run: export test_set="test_caacl_plugin.py test_caacl_profile_enforcement.py test_cert_plugin.py test_certprofile_plugin.py test_ca_plugin.py test_vault_plugin.py"

            #- name: Enable PKI COPR repo
            #  run: dnf copr enable -y ${COPR_REPO}

            - name: Install IPA packages
              run: travis/ipa-init.sh

            # Upgrade the PKI packages
            - name: Install PKI packages
              run: find . -name '*.rpm' -and -not -name '*debuginfo*' | xargs dnf -y install  

            - name: Run cert related IPA test suite
              run: travis/ipa-test.sh

            - name: Compress IPA logs
              if: always()
              run: tar -czf ipa-logs.tar.gz /var/log/ipa*

            - name: Upload IPA Logs
              if: always()      # remove this in future
              #if: failure()    # Uncomment to upload logs only on failure
              uses: actions/upload-artifact@v1
              with:
                name: ipa-logs-${{ matrix.os }}
                path: ipa-logs.tar.gz

            - name: Compress PKI logs
              if: always()
              run: tar -czf pki-logs.tar.gz /var/log/pki

            - name: Upload PKI Logs
              if: always()      # remove this in future
              #if: failure()    # Uncomment to upload logs only on job failure
              uses: actions/upload-artifact@v1
              with:
                name: pki-logs-${{ matrix.os }}
                path: pki-logs.tar.gz

