name: rpminspect

on:
  workflow_call:
    inputs:
      db-image:
        required: false
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Retrieve PKI images
        uses: actions/cache@v3
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Set up builder container
        run: |
          docker run \
              --name=builder \
              --privileged \
              --detach \
              pki-builder

          while :
          do
              docker exec builder echo "Container is ready" && break
              echo "Waiting for container..."
              sleep 1
              [ $((++i)) -ge 30 ] && exit 1
          done

      - name: Check builder container logs
        if: always()
        run: |
          docker logs builder

      - name: Install rpminspect
        run: |
          docker exec builder dnf install -y rpminspect-data-fedora

      - name: Run rpminspect on SRPM and RPMs
        run: |
          docker exec builder cp tests/pki-rpminspect.yaml /usr/share/rpminspect/profiles/fedora/pki-rpminspect.yaml
          docker exec builder tests/bin/rpminspect.sh
