name: rpminspect

on: workflow_call

env:
  DS_IMAGE: ${{ vars.DS_IMAGE || 'quay.io/389ds/dirsrv' }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/pki
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve PKI images
        uses: actions/cache@v4
        with:
          key: pki-images-${{ github.sha }}
          path: pki-images.tar

      - name: Load PKI images
        run: docker load --input pki-images.tar

      - name: Set up PKI container
        run: |
          tests/bin/runner-init.sh pki
        env:
          HOSTNAME: pki.example.com

      - name: Install rpminspect
        run: |
          docker exec pki dnf install -y rpminspect-data-fedora

      - name: Copy SRPM and RPM packages
        run: |
          docker create --name=pki-dist pki-dist

          mkdir /tmp/build
          docker cp pki-dist:/root/SRPMS/. /tmp/build/SRPMS
          docker cp pki-dist:/root/RPMS/. /tmp/build/RPMS
          ls -lR /tmp/build

          docker exec pki mkdir -p build
          docker cp /tmp/build/. pki:build/
          docker exec pki ls -lR build

          docker rm -f pki-dist

          # get RPM version and release number
          VERSION=$(docker exec pki ls build/SRPMS | sed -e 's/^pki-\(.*\)\.src\.rpm$/\1/')
          echo "VERSION: $VERSION"
          echo "$VERSION" > VERSION

      - name: Install rpminspect profile
        run: |
          docker exec pki ls -lR /usr/share/rpminspect/profiles
          docker exec pki cp \
              /usr/share/pki/tests/pki-rpminspect.yaml \
              /usr/share/rpminspect/profiles/fedora

      - name: Check pki SRPM
        if: always()
        run: |
          docker exec pki rpm -qlp build/SRPMS/pki-*.src.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/SRPMS/pki-*.src.rpm

      - name: Check dogtag-pki RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-$VERSION.*.rpm

      - name: Check dogtag-pki-acme RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-acme-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-acme-$VERSION.*.rpm

      - name: Check dogtag-pki-base RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-base-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-base-$VERSION.*.rpm

      - name: Check dogtag-pki-ca RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-ca-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-ca-$VERSION.*.rpm

      - name: Check dogtag-pki-est RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-est-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-est-$VERSION.*.rpm

      - name: Check dogtag-pki-java RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-java-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-java-$VERSION.*.rpm

      - name: Check dogtag-pki-javadoc RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-javadoc-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-javadoc-$VERSION.*.rpm

      - name: Check dogtag-pki-kra RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-kra-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-kra-$VERSION.*.rpm

      - name: Check dogtag-pki-ocsp RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-ocsp-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-ocsp-$VERSION.*.rpm

      - name: Check dogtag-pki-server RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-server-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-server-$VERSION.*.rpm

      - name: Check dogtag-pki-tests RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-tests-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-tests-$VERSION.*.rpm

      - name: Check dogtag-pki-theme RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-theme-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-theme-$VERSION.*.rpm

      - name: Check dogtag-pki-tks RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-tks-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-tks-$VERSION.*.rpm

      - name: Check dogtag-pki-tools RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-tools-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-tools-$VERSION.*.rpm

      - name: Check dogtag-pki-tools-debuginfo RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-tools-debuginfo-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-tools-debuginfo-$VERSION.*.rpm

      - name: Check dogtag-pki-tps RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/dogtag-pki-tps-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/dogtag-pki-tps-$VERSION.*.rpm

      - name: Check pki-debugsource RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/pki-debugsource-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/pki-debugsource-$VERSION.*.rpm

      - name: Check python3-dogtag-pki RPM
        if: always()
        run: |
          VERSION=$(cat VERSION)
          docker exec pki rpm -qlp build/RPMS/python3-dogtag-pki-$VERSION.*.rpm
          docker exec pki rpminspect-fedora \
              -p pki-rpminspect \
              build/RPMS/python3-dogtag-pki-$VERSION.*.rpm
