name: Server Tests

on: [push, pull_request]

jobs:
  build:
    name: Waiting for build
    uses: ./.github/workflows/wait-for-build.yml
    secrets: inherit

  server-basic-test:
    name: Basic server
    needs: build
    uses: ./.github/workflows/server-basic-test.yml

  server-https-pem-test:
    name: HTTPS connector with PEM files
    needs: build
    uses: ./.github/workflows/server-https-pem-test.yml

  server-https-jks-test:
    name: HTTPS connector with JKS file
    needs: build
    uses: ./.github/workflows/server-https-jks-test.yml

  server-https-pkcs12-test:
    name: "HTTPS connector with PKCS #12 file"
    needs: build
    uses: ./.github/workflows/server-https-pkcs12-test.yml

  server-https-nss-test:
    name: HTTPS connector with NSS database
    needs: build
    uses: ./.github/workflows/server-https-nss-test.yml

  server-backup-test:
    name: Server backup
    needs: build
    uses: ./.github/workflows/server-backup-test.yml

  server-upgrade-test:
    name: Server upgrade
    needs: build
    uses: ./.github/workflows/server-upgrade-test.yml

  server-container-test:
    name: Server container
    needs: build
    uses: ./.github/workflows/server-container-test.yml
