name: Server Tests

on: [push, pull_request]

jobs:
  init:
    name: Initializing workflow
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.init.outputs.matrix }}
      repo: ${{ steps.init.outputs.repo }}
      db-image: ${{ steps.init.outputs.db-image }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Initialize workflow
        id: init
        env:
          BASE64_MATRIX: ${{ secrets.BASE64_MATRIX }}
          BASE64_REPO: ${{ secrets.BASE64_REPO }}
          BASE64_DATABASE: ${{ secrets.BASE64_DATABASE }}
        run: |
          tests/bin/init-workflow.sh

  # docs/development/Building_PKI.md
  build:
    name: Building PKI
    needs: init
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache pki-deps image
        id: cache-pki-deps
        uses: actions/cache@v3
        with:
          key: pki-deps-${{ matrix.os }}-${{ hashFiles('pki.spec') }}
          path: /tmp/cache-pki-deps

      - name: Build pki-deps image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ needs.init.outputs.repo }}
          tags: pki-deps
          target: pki-deps
          cache-to: type=local,dest=/tmp/cache-pki-deps
        if: steps.cache-pki-deps.outputs.cache-hit != 'true'

      - name: Build runner image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ needs.init.outputs.repo }}
          tags: pki-runner
          target: pki-runner
          cache-from: type=local,src=/tmp/cache-pki-deps
          outputs: type=docker,dest=pki-runner.tar

      - name: Store runner image
        uses: actions/cache@v3
        with:
          key: pki-runner-${{ matrix.os }}-${{ github.run_id }}
          path: pki-runner.tar

      - name: Build server image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: |
            OS_VERSION=${{ matrix.os }}
            COPR_REPO=${{ needs.init.outputs.repo }}
          tags: pki-server
          target: pki-server
          cache-from: type=local,src=/tmp/cache-pki-deps
          outputs: type=docker,dest=pki-server.tar

      - name: Store server image
        uses: actions/cache@v3
        with:
          key: pki-server-${{ matrix.os }}-${{ github.run_id }}
          path: pki-server.tar

  server-basic-test:
    name: Basic server
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-basic-test.yml
    with:
      os: ${{ matrix.os }}

  server-https-pem-test:
    name: HTTPS connector with PEM files
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-https-pem-test.yml
    with:
      os: ${{ matrix.os }}

  server-https-jks-test:
    name: HTTPS connector with JKS file
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-https-jks-test.yml
    with:
      os: ${{ matrix.os }}

  server-https-pkcs12-test:
    name: "HTTPS connector with PKCS #12 file"
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-https-pkcs12-test.yml
    with:
      os: ${{ matrix.os }}

  server-https-nss-test:
    name: HTTPS connector with NSS database
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-https-nss-test.yml
    with:
      os: ${{ matrix.os }}

  server-upgrade-test:
    name: Server upgrade
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-upgrade-test.yml
    with:
      os: ${{ matrix.os }}

  server-container-test:
    name: Server container
    needs: [init, build]
    strategy:
      matrix: ${{ fromJSON(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/server-container-test.yml
    with:
      os: ${{ matrix.os }}
