name: TKS Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  tks-basic-test:
    name: Basic TKS
    needs: [init, build]
    uses: ./.github/workflows/tks-basic-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tks-separate-test:
    name: TKS on separate instance
    needs: [init, build]
    uses: ./.github/workflows/tks-separate-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tks-external-certs-test:
    name: TKS with external certs
    needs: [init, build]
    uses: ./.github/workflows/tks-external-certs-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tks-clone-test:
    name: TKS clone
    needs: [init, build]
    uses: ./.github/workflows/tks-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tks-hsm-test:
    name: TKS with HSM
    needs: [init, build]
    uses: ./.github/workflows/tks-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}
