name: TPS Tests

on: [push, pull_request]

jobs:
  build:
    name: Waiting for build
    uses: ./.github/workflows/wait-for-build.yml
    secrets: inherit

  tps-basic-test:
    name: Basic TPS
    needs: build
    uses: ./.github/workflows/tps-basic-test.yml

  tps-separate-test:
    name: TPS on separate instance
    needs: build
    uses: ./.github/workflows/tps-separate-test.yml

  tps-external-certs-test:
    name: TPS with external certs
    needs: build
    uses: ./.github/workflows/tps-external-certs-test.yml

  tps-clone-test:
    name: TPS clone
    needs: build
    uses: ./.github/workflows/tps-clone-test.yml

  tps-hsm-test:
    name: TPS with HSM
    needs: build
    uses: ./.github/workflows/tps-hsm-test.yml
