name: TPS Tests

on: [push, pull_request]

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Waiting for build
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.ref }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'push'

      - name: Wait for build
        uses: lewagon/wait-on-check-action@v1.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          check-name: 'Building PKI'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30
        if: github.event_name == 'pull_request'

  tps-basic-test:
    name: Basic TPS
    needs: [init, build]
    uses: ./.github/workflows/tps-basic-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tps-separate-test:
    name: TPS on separate instance
    needs: [init, build]
    uses: ./.github/workflows/tps-separate-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tps-external-certs-test:
    name: TPS with external certs
    needs: [init, build]
    uses: ./.github/workflows/tps-external-certs-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tps-clone-test:
    name: TPS clone
    needs: [init, build]
    uses: ./.github/workflows/tps-clone-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}

  tps-hsm-test:
    name: TPS with HSM
    needs: [init, build]
    uses: ./.github/workflows/tps-hsm-test.yml
    with:
      db-image: ${{ needs.init.outputs.db-image }}
