<!-- --- BEGIN COPYRIGHT BLOCK ---
     This program is free software; you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation; version 2 of the License.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
     51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

     Copyright (C) 2007 Red Hat, Inc.
     All rights reserved.
     --- END COPYRIGHT BLOCK --- -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<title>Agent Certificate Request</title>
    <link rel="shortcut icon" href="/pki/images/favicon.ico" />
    <link rel="stylesheet" href="/pki/css/pki-base.css" type="text/css" />
    <META http-equiv=Content-Type content="text/html; charset=UTF-8">

</head>
<body bgcolor="#FFFFFF" link="#666699" vlink="#666699" alink="#333366">

#include ( "header.vm" )

<div id="mainNavOuter">
<div id="mainNav">
<div id="mainNavInner">

</div><!-- end mainNavInner -->
</div><!-- end mainNav -->
</div><!-- end mainNavOuter -->
                                                                                
                                                                                
<div id="bar">
                                                                                
<div id="systembar">
<div id="systembarinner">
                                                                                
<div>
  -
</div>
                                                                                
                                                                                
</div>
</div>
                                                                                
</div>


<font size="+1" face="PrimaSans BT, Verdana, Arial, Helvetica, sans-serif">
<a href="/ee/index.cgi">RA Services</a> : <a href="/ee/agent/index.cgi">Agent Enrollment</a><br />
Agent Interface
</font><br>
<p> 
This form is for new agent to request for agent certificate.
<p> 
<center>
<form method=post action="submit.cgi">
<table border="0" cellspacing="1" cellpadding="1">
<tr>
  <td width=20%>UID:</td>
  <td><input type=text name=uid value="" ></td>
</tr>
<tr>
  <td>Your Email:</td>
  <td><input type=text name=email value=""></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td><input type=submit name=Submit value="Submit"></td>
  <td></td>
</tr>
</table>
</form>
</center>
#include ( "footer.vm" )

</body>
</html>
